In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/sales-data-practise/sales_data.csv
/kaggle/input/nba-data/nba.csv

# Working with Pandas Library:
- Pandas is an open-source library that uses for working with relational or labeled data both easily and intuitively. It provides various data structures and operations for manipulating numerical data and time series. It offers a tool for cleaning and processes your data. It is the most popular Python library that is used for data analysis. In this article, We are going to learn about Pandas Data structure.




<img src="https://www.w3resource.com/w3r_images/pandas-data-structure.svg" alt="Pandas Data structure" style="max-width:100%;display:block;height:auto;border: 2px solid silver;"><br>

<p><strong>Create Test Objects</strong></p>
<div class="table-responsive">
<table class="table table-bordered">
<tbody><tr>
<td>pd.DataFrame(np.random.rand(20,5))</td>
<td>5 columns and 20 rows of random floats</td>
</tr>
<tr>
<td>pd.Series(my_list)</td>
<td>Create a series from an iterable my_list</td>
</tr>
<tr>
<td>df.index = pd.date_range('1900/1/30', periods=df.shape[0])</td>
<td>Add a date index</td>
</tr>
</tbody></table></div>
<p><strong>Viewing/Inspecting Data</strong></p>
<div class="table-responsive">
<table class="table table-bordered">
<tbody><tr>
<td>df.head(n)</td>
<td>First n rows of the DataFrame</td>
</tr>
<tr>
<td>df.tail(n)</td>
<td> Last n rows of the DataFrame</td>
</tr>
<tr>
<td>df.shape</td>
<td> Number of rows and columns</td>
</tr>
<tr>
<td>df.info()</td>
<td>Index, Datatype and Memory information</td>
</tr>
<tr>
<td>df.describe()</td>
<td>Summary statistics for numerical columns</td>
</tr>
<tr>
<td>s.value_counts(dropna=False)</td>
<td>View unique values and counts</td>
</tr>
<tr>
<td>df.apply(pd.Series.value_counts)</td>
<td>Unique values and counts for all columns</td>
</tr>
</tbody></table></div>
<p><strong>Selection</strong></p>
<div class="table-responsive">
<table class="table table-bordered">
<tbody><tr>
<td>df[col]</td>
<td>Returns column with label col as Series</td>
</tr>
<tr>
<td>df[[col1, col2]]</td>
<td>Returns columns as a new DataFrame</td>
</tr>
<tr>
<td>s.iloc[0]</td>
<td>Selection by position</td>
</tr>
<tr>
<td>s.loc['index_one']</td>
<td>Selection by index</td>
</tr>
<tr>
<td>df.iloc[0,:]</td>
<td>First row</td>
</tr>
<tr>
<td>df.iloc[0,0]</td>
<td>First element of first column</td>
</tr>
</tbody></table></div>
<p><strong>Data Cleaning</strong></p>
<div class="table-responsive">
<table class="table table-bordered">
<tbody><tr>
<td>df.columns = ['a','b','c']</td>
<td>Rename columns</td>
</tr>
<tr>
<td>pd.isnull()</td>
<td> Checks for null Values, Returns Boolean Arrray</td>
</tr>
<tr>
<td>pd.notnull()</td>
<td>Opposite of pd.isnull()</td>
</tr>
<tr>
<td>df.dropna()</td>
<td>Drop all rows that contain null values</td>
</tr>
<tr>
<td>df.dropna(axis=1)</td>
<td>Drop all columns that contain null values</td>
</tr>
<tr>
<td>df.dropna(axis=1,thresh=n)</td>
<td>Drop all rows have have less than n non null values</td>
</tr>
<tr>
<td>df.fillna(x)</td>
<td>Replace all null values with x</td>
</tr>
<tr>
<td>s.fillna(s.mean())</td>
<td>Replace all null values with the mean</td>
</tr>
<tr>
<td>s.astype(float)</td>
<td>Convert the datatype of the series to float</td>
</tr>
<tr>
<td>s.replace(1,'one')</td>
<td>Replace all values equal to 1 with 'one'</td>
</tr>
<tr>
<td>s.replace([2,3],['two', 'three'])</td>
<td>Replace all 2 with 'two' and 3 with 'three'</td>
</tr>
<tr>
<td>df.rename(columns=lambda x: x + 1)</td>
<td>Mass renaming of columns</td>
</tr>
<tr>
<td>df.rename(columns={'old_name': 'new_ name'})</td>
<td>Selective renaming</td>
</tr>
<tr>
<td>df.set_index('column_one')</td>
<td>Change the index</td>
</tr>
<tr>
<td>df.rename(index=lambda x: x + 1)</td>
<td>Mass renaming of index</td>
</tr>
</tbody></table></div>
<p><strong>Filter, Sort, and Groupby</strong></p>
<div class="table-responsive">
<table class="table table-bordered">
<tbody><tr>
<td>df[df[col] &gt; 0.6]</td>
<td>Rows where the column col is greater than 0.6</td>
</tr>
<tr>
<td>df[(df[col] &gt; 0.6) &amp; (df[col] &lt; 0.8)]</td>
<td> Rows where 0.8 &gt; col &gt; 0.6</td>
</tr>
<tr>
<td>df.sort_values(col1)</td>
<td> Sort values by col1 in ascending order</td>
</tr>
<tr>
<td>df.sort_values(col2,ascending=False)</td>
<td> Sort values by col2 in descending order.5</td>
</tr>
<tr>
<td>df.sort_values([col1,col2],ascending=[True,False]) </td>
<td> Sort values by col1 in ascending order then col2 in descending order</td>
</tr>
<tr>
<td>df.groupby(col)</td>
<td>Returns a groupby object for values from one column</td>
</tr>
<tr>
<td>df.groupby([col1,col2])</td>
<td>Returns groupby object for values from multiple columns</td>
</tr>
<tr>
<td>df.groupby(col1)[col2]</td>
<td>Returns the mean of the values in col2, grouped by the values in col1</td>
</tr>
<tr>
<td>df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean)</td>
<td>Create a pivot table that groups by col1 and calculates the mean of col2 and col3</td>
</tr>
<tr>
<td>df.groupby(col1).agg(np.mean)</td>
<td>Find the average across all columns for every unique col1 group</td>
</tr>
<tr>
<td>df.apply(np.mean)</td>
<td>Apply the function np.mean() across each column</td>
</tr>
<tr>
<td>nf.apply(np.max,axis=1)</td>
<td>Apply the function np.max() across each row</td>
</tr>
</tbody></table></div>
<p><strong>Join/Combine</strong></p>
<div class="table-responsive">
<table class="table table-bordered">
<tbody><tr>
<td>df1.append(df2)</td>
<td>Add the rows in df1 to the end of df2 (columns should be identical)</td>
</tr>
<tr>
<td>pd.concat([df1, df2],axis=1)</td>
<td>Add the columns in df1 to the end of df2 (rows should be identical)</td>
</tr>
<tr>
<td>df1.join(df2,on=col1, how='inner')</td>
<td>SQL-style join the columns in df1 with the columns on df2 where the rows for col have identical values. The 'how' can be 'left', 'right', 'outer' or 'inner'</td>
</tr>
</tbody></table></div>
<p><strong>Statistics</strong></p>
<div class="table-responsive">
<table class="table table-bordered">
<tbody><tr>
<td>df.describe()</td>
<td>Summary statistics for numerical columns</td>
</tr>
<tr>
<td>df.mean()</td>
<td>Returns the mean of all columns</td>
</tr>
<tr>
<td>df.corr()</td>
<td>Returns the correlation between columns in a DataFrame</td>
</tr>
<tr>
<td>df.count()</td>
<td>Returns the number of non-null values in each DataFrame column</td>
</tr>
<tr>
<td>df.max()</td>
<td>Returns the highest value in each column</td>
</tr>
<tr>
<td>df.min()</td>
<td>Returns the lowest value in each column</td>
</tr>
<tr>
<td>df.median()</td>
<td>Returns the median of each column</td>
</tr>
<tr>
<td>df.std()</td>
<td>Returns the standard deviation of each column</td>
</tr>
</tbody></table></div>
<p><strong>Importing Data</strong></p>
<div class="table-responsive">
<table class="table table-bordered">
<tbody><tr>
<td>pd.read_csv(filename)</td>
<td>From a CSV file</td>
</tr>
<tr>
<td>pd.read_table(filename)</td>
<td>From a delimited text file (like TSV)</td>
</tr>
<tr>
<td>pd.read_excel(filename)</td>
<td>From an Excel file</td>
</tr>
<tr>
<td>pd.read_sql(query, connection_object)</td>
<td>Read from a SQL table/database</td>
</tr>
<tr>
<td>pd.read_json(json_string)</td>
<td>Read from a JSON formatted string, URL or file.</td>
</tr>
<tr>
<td>pd.read_html(url)</td>
<td> Parses an html URL, string or file and extracts tables to a list of dataframes</td>
</tr>
<tr>
<td>pd.read_clipboard() </td>
<td>Takes the contents of your clipboard and passes it to read_table()</td>
</tr>
<tr>
<td>pd.DataFrame(dict)</td>
<td>From a dict, keys for columns names, values for data as lists</td>
</tr>
</tbody></table></div>
<p><strong>Exporting Data</strong></p>
<div class="table-responsive">
<table class="table table-bordered">
<tbody><tr>
<td>df.to_csv(filename)</td>
<td>Write to a CSV file</td>
</tr>
<tr>
<td>df.to_excel(filename)</td>
<td>Write to an Excel file</td>
</tr>
<tr>
<td>df.to_sql(table_name, connection_object)</td>
<td>Write to a SQL table</td>
</tr>
<tr>
<td>df.to_json(filename)</td>
<td>Write to a file in JSON format</td>
</tr>
</tbody></table>
</div>
    
- It supports three data structures:

    1. **Series**
    2. **Dataframe**
    3. **Panel**
    
## 1. pandas.series(): 
- Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.
- Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.
- **Syntax** <H4>class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)</H4>

In [2]:
#Creating Series by using arrray: 

data=np.array(["Bhawan","Singh","Solanki"])

s=pd.Series(data)

print("Series:\n\n",s,"\n\nType of Series: ",type(s),"\n\nData type of Series: ",s.dtype)
print("Dimension of series: ",s.ndim)

Series:

 0     Bhawan
1      Singh
2    Solanki
dtype: object

Type of Series:  <class 'pandas.core.series.Series'>

Data type of Series:  object
Dimension of series:  1

In [3]:
# Giving the index to the Series data

data=np.array(["Bhawan","Singh","Solanki"])

s1=pd.Series(data,index=["First Name","Middle Name","Last Name"])

print("Series:\n\n",s1,"\n\nType of Series: ",type(s1),"\nData type of Series: ",s1.dtype)
print("Dimension of series: ",s1.ndim)

Series:

 First Name      Bhawan
Middle Name      Singh
Last Name      Solanki
dtype: object

Type of Series:  <class 'pandas.core.series.Series'>
Data type of Series:  object
Dimension of series:  1

In [4]:
# Giving List data to Series

list1=[1,2,3,4,5,5,6,4,3,5,5,5.4,3.2,"bhawan","singh"]
s2=pd.Series(list1)
print("Series:\n\n",s2,"\n\nType of Series: ",type(s2),"\nData type of Series: ",s2.dtype)
print("Dimension of series: ",s2.ndim)

Series:

 0          1
1          2
2          3
3          4
4          5
5          5
6          6
7          4
8          3
9          5
10         5
11       5.4
12       3.2
13    bhawan
14     singh
dtype: object

Type of Series:  <class 'pandas.core.series.Series'>
Data type of Series:  object
Dimension of series:  1

In [5]:
# Creating empty Series:

empty_s=pd.Series([])
print(empty_s)

Series([], dtype: float64)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
# GIving name& data type to series:

list1=[1,2,3,4,5,5,6,4,3,5,5,5.4,3.2]
s2=pd.Series(list1,dtype=float,name="Series_s2")
print(s2)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     5.0
6     6.0
7     4.0
8     3.0
9     5.0
10    5.0
11    5.4
12    3.2
Name: Series_s2, dtype: float64

In [7]:
#Creating Series with Scalar value:
Scalar_s=pd.Series(4.5)
print(Scalar_s)

Scalar_s=pd.Series(4.5,index=[1,2,3,4,5,6])
print("\nMultiple Scaler value series:\n",Scalar_s)

0    4.5
dtype: float64

Multiple Scaler value series:
 1    4.5
2    4.5
3    4.5
4    4.5
5    4.5
6    4.5
dtype: float64

In [8]:
#Creating Series with Dictionary:

dict_series=pd.Series({1:["Bhawan","test"],2:"Singh",3:"Solanki"})
print("\nCreating Series with Dictionnary:\n",dict_series)

Creating Series with Dictionnary:
 1    [Bhawan, test]
2             Singh
3           Solanki
dtype: object

### MultiIndex Index Series:

In [9]:
s_mi = pd.Series(np.arange(6),
   .....:                  index=pd.MultiIndex.from_product([[0, 1], ['a', 'b', 'c']]))
   .....: 
        
s_mi

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int64

In [10]:
type(s_mi)

pandas.core.series.Series

In [11]:
s_mi.dtype

dtype('int64')

#### Atributes of Series
***


<dd>
<table class="autosummary longtable table autosummary">
<colgroup>
<col style="width: 10%">
<col style="width: 90%">
</colgroup>
<tbody>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.T.html#pandas.Series.T" title="pandas.Series.T"><code class="xref py py-obj docutils literal notranslate"><span class="pre">T</span></code></a></p></td>
<td><p>Return the transpose, which is by definition self.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.array.html#pandas.Series.array" title="pandas.Series.array"><code class="xref py py-obj docutils literal notranslate"><span class="pre">array</span></code></a></p></td>
<td><p>The ExtensionArray of the data backing this Series or Index.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.at.html#pandas.Series.at" title="pandas.Series.at"><code class="xref py py-obj docutils literal notranslate"><span class="pre">at</span></code></a></p></td>
<td><p>Access a single value for a row/column label pair.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.attrs.html#pandas.Series.attrs" title="pandas.Series.attrs"><code class="xref py py-obj docutils literal notranslate"><span class="pre">attrs</span></code></a></p></td>
<td><p>Dictionary of global attributes of this dataset.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.axes.html#pandas.Series.axes" title="pandas.Series.axes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">axes</span></code></a></p></td>
<td><p>Return a list of the row axis labels.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.dtype.html#pandas.Series.dtype" title="pandas.Series.dtype"><code class="xref py py-obj docutils literal notranslate"><span class="pre">dtype</span></code></a></p></td>
<td><p>Return the dtype object of the underlying data.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.dtypes.html#pandas.Series.dtypes" title="pandas.Series.dtypes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">dtypes</span></code></a></p></td>
<td><p>Return the dtype object of the underlying data.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.flags.html#pandas.Series.flags" title="pandas.Series.flags"><code class="xref py py-obj docutils literal notranslate"><span class="pre">flags</span></code></a></p></td>
<td><p>Get the properties associated with this pandas object.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.hasnans.html#pandas.Series.hasnans" title="pandas.Series.hasnans"><code class="xref py py-obj docutils literal notranslate"><span class="pre">hasnans</span></code></a></p></td>
<td><p>Return True if there are any NaNs.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.iat.html#pandas.Series.iat" title="pandas.Series.iat"><code class="xref py py-obj docutils literal notranslate"><span class="pre">iat</span></code></a></p></td>
<td><p>Access a single value for a row/column pair by integer position.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.iloc.html#pandas.Series.iloc" title="pandas.Series.iloc"><code class="xref py py-obj docutils literal notranslate"><span class="pre">iloc</span></code></a></p></td>
<td><p>Purely integer-location based indexing for selection by position.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.index.html#pandas.Series.index" title="pandas.Series.index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">index</span></code></a></p></td>
<td><p>The index (axis labels) of the Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.is_monotonic.html#pandas.Series.is_monotonic" title="pandas.Series.is_monotonic"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_monotonic</span></code></a></p></td>
<td><p>(DEPRECATED) Return boolean if values in the object are monotonically increasing.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.is_monotonic_decreasing.html#pandas.Series.is_monotonic_decreasing" title="pandas.Series.is_monotonic_decreasing"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_monotonic_decreasing</span></code></a></p></td>
<td><p>Return boolean if values in the object are monotonically decreasing.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.is_monotonic_increasing.html#pandas.Series.is_monotonic_increasing" title="pandas.Series.is_monotonic_increasing"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_monotonic_increasing</span></code></a></p></td>
<td><p>Return boolean if values in the object are monotonically increasing.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.is_unique.html#pandas.Series.is_unique" title="pandas.Series.is_unique"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_unique</span></code></a></p></td>
<td><p>Return boolean if values in the object are unique.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.loc.html#pandas.Series.loc" title="pandas.Series.loc"><code class="xref py py-obj docutils literal notranslate"><span class="pre">loc</span></code></a></p></td>
<td><p>Access a group of rows and columns by label(s) or a boolean array.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.name.html#pandas.Series.name" title="pandas.Series.name"><code class="xref py py-obj docutils literal notranslate"><span class="pre">name</span></code></a></p></td>
<td><p>Return the name of the Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.nbytes.html#pandas.Series.nbytes" title="pandas.Series.nbytes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">nbytes</span></code></a></p></td>
<td><p>Return the number of bytes in the underlying data.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.ndim.html#pandas.Series.ndim" title="pandas.Series.ndim"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ndim</span></code></a></p></td>
<td><p>Number of dimensions of the underlying data, by definition 1.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.shape.html#pandas.Series.shape" title="pandas.Series.shape"><code class="xref py py-obj docutils literal notranslate"><span class="pre">shape</span></code></a></p></td>
<td><p>Return a tuple of the shape of the underlying data.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.size.html#pandas.Series.size" title="pandas.Series.size"><code class="xref py py-obj docutils literal notranslate"><span class="pre">size</span></code></a></p></td>
<td><p>Return the number of elements in the underlying data.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.values.html#pandas.Series.values" title="pandas.Series.values"><code class="xref py py-obj docutils literal notranslate"><span class="pre">values</span></code></a></p></td>
<td><p>Return Series as ndarray or ndarray-like depending on the dtype.</p></td>
</tr>
</tbody>
</table>
    </dd>  
    
#### Methods Of Series
*** 
<dd>    
<table class="autosummary longtable table autosummary">
<colgroup>
<col style="width: 10%">
<col style="width: 90%">
</colgroup>
<tbody>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.abs.html#pandas.Series.abs" title="pandas.Series.abs"><code class="xref py py-obj docutils literal notranslate"><span class="pre">abs</span></code></a>()</p></td>
<td><p>Return a Series/DataFrame with absolute numeric value of each element.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.add.html#pandas.Series.add" title="pandas.Series.add"><code class="xref py py-obj docutils literal notranslate"><span class="pre">add</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Addition of series and other, element-wise (binary operator <cite>add</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.add_prefix.html#pandas.Series.add_prefix" title="pandas.Series.add_prefix"><code class="xref py py-obj docutils literal notranslate"><span class="pre">add_prefix</span></code></a>(prefix)</p></td>
<td><p>Prefix labels with string <cite>prefix</cite>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.add_suffix.html#pandas.Series.add_suffix" title="pandas.Series.add_suffix"><code class="xref py py-obj docutils literal notranslate"><span class="pre">add_suffix</span></code></a>(suffix)</p></td>
<td><p>Suffix labels with string <cite>suffix</cite>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.agg.html#pandas.Series.agg" title="pandas.Series.agg"><code class="xref py py-obj docutils literal notranslate"><span class="pre">agg</span></code></a>([func,&nbsp;axis])</p></td>
<td><p>Aggregate using one or more operations over the specified axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.aggregate.html#pandas.Series.aggregate" title="pandas.Series.aggregate"><code class="xref py py-obj docutils literal notranslate"><span class="pre">aggregate</span></code></a>([func,&nbsp;axis])</p></td>
<td><p>Aggregate using one or more operations over the specified axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.align.html#pandas.Series.align" title="pandas.Series.align"><code class="xref py py-obj docutils literal notranslate"><span class="pre">align</span></code></a>(other[,&nbsp;join,&nbsp;axis,&nbsp;level,&nbsp;copy,&nbsp;...])</p></td>
<td><p>Align two objects on their axes with the specified join method.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.all.html#pandas.Series.all" title="pandas.Series.all"><code class="xref py py-obj docutils literal notranslate"><span class="pre">all</span></code></a>([axis,&nbsp;bool_only,&nbsp;skipna,&nbsp;level])</p></td>
<td><p>Return whether all elements are True, potentially over an axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.any.html#pandas.Series.any" title="pandas.Series.any"><code class="xref py py-obj docutils literal notranslate"><span class="pre">any</span></code></a>([axis,&nbsp;bool_only,&nbsp;skipna,&nbsp;level])</p></td>
<td><p>Return whether any element is True, potentially over an axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.append.html#pandas.Series.append" title="pandas.Series.append"><code class="xref py py-obj docutils literal notranslate"><span class="pre">append</span></code></a>(to_append[,&nbsp;ignore_index,&nbsp;...])</p></td>
<td><p>(DEPRECATED) Concatenate two or more Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.apply.html#pandas.Series.apply" title="pandas.Series.apply"><code class="xref py py-obj docutils literal notranslate"><span class="pre">apply</span></code></a>(func[,&nbsp;convert_dtype,&nbsp;args])</p></td>
<td><p>Invoke function on values of Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.argmax.html#pandas.Series.argmax" title="pandas.Series.argmax"><code class="xref py py-obj docutils literal notranslate"><span class="pre">argmax</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return int position of the largest value in the Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.argmin.html#pandas.Series.argmin" title="pandas.Series.argmin"><code class="xref py py-obj docutils literal notranslate"><span class="pre">argmin</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return int position of the smallest value in the Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.argsort.html#pandas.Series.argsort" title="pandas.Series.argsort"><code class="xref py py-obj docutils literal notranslate"><span class="pre">argsort</span></code></a>([axis,&nbsp;kind,&nbsp;order])</p></td>
<td><p>Return the integer indices that would sort the Series values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.asfreq.html#pandas.Series.asfreq" title="pandas.Series.asfreq"><code class="xref py py-obj docutils literal notranslate"><span class="pre">asfreq</span></code></a>(freq[,&nbsp;method,&nbsp;how,&nbsp;normalize,&nbsp;...])</p></td>
<td><p>Convert time series to specified frequency.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.asof.html#pandas.Series.asof" title="pandas.Series.asof"><code class="xref py py-obj docutils literal notranslate"><span class="pre">asof</span></code></a>(where[,&nbsp;subset])</p></td>
<td><p>Return the last row(s) without any NaNs before <cite>where</cite>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.astype.html#pandas.Series.astype" title="pandas.Series.astype"><code class="xref py py-obj docutils literal notranslate"><span class="pre">astype</span></code></a>(dtype[,&nbsp;copy,&nbsp;errors])</p></td>
<td><p>Cast a pandas object to a specified dtype <code class="docutils literal notranslate"><span class="pre">dtype</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.at_time.html#pandas.Series.at_time" title="pandas.Series.at_time"><code class="xref py py-obj docutils literal notranslate"><span class="pre">at_time</span></code></a>(time[,&nbsp;asof,&nbsp;axis])</p></td>
<td><p>Select values at particular time of day (e.g., 9:30AM).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.autocorr.html#pandas.Series.autocorr" title="pandas.Series.autocorr"><code class="xref py py-obj docutils literal notranslate"><span class="pre">autocorr</span></code></a>([lag])</p></td>
<td><p>Compute the lag-N autocorrelation.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.backfill.html#pandas.Series.backfill" title="pandas.Series.backfill"><code class="xref py py-obj docutils literal notranslate"><span class="pre">backfill</span></code></a>([axis,&nbsp;inplace,&nbsp;limit,&nbsp;downcast])</p></td>
<td><p>Synonym for <a class="reference internal" href="pandas.DataFrame.fillna.html#pandas.DataFrame.fillna" title="pandas.DataFrame.fillna"><code class="xref py py-meth docutils literal notranslate"><span class="pre">DataFrame.fillna()</span></code></a> with <code class="docutils literal notranslate"><span class="pre">method='bfill'</span></code>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.between.html#pandas.Series.between" title="pandas.Series.between"><code class="xref py py-obj docutils literal notranslate"><span class="pre">between</span></code></a>(left,&nbsp;right[,&nbsp;inclusive])</p></td>
<td><p>Return boolean Series equivalent to left &lt;= series &lt;= right.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.between_time.html#pandas.Series.between_time" title="pandas.Series.between_time"><code class="xref py py-obj docutils literal notranslate"><span class="pre">between_time</span></code></a>(start_time,&nbsp;end_time[,&nbsp;...])</p></td>
<td><p>Select values between particular times of the day (e.g., 9:00-9:30 AM).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.bfill.html#pandas.Series.bfill" title="pandas.Series.bfill"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bfill</span></code></a>([axis,&nbsp;inplace,&nbsp;limit,&nbsp;downcast])</p></td>
<td><p>Synonym for <a class="reference internal" href="pandas.DataFrame.fillna.html#pandas.DataFrame.fillna" title="pandas.DataFrame.fillna"><code class="xref py py-meth docutils literal notranslate"><span class="pre">DataFrame.fillna()</span></code></a> with <code class="docutils literal notranslate"><span class="pre">method='bfill'</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.bool.html#pandas.Series.bool" title="pandas.Series.bool"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bool</span></code></a>()</p></td>
<td><p>Return the bool of a single element Series or DataFrame.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.cat.html#pandas.Series.cat" title="pandas.Series.cat"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cat</span></code></a></p></td>
<td><p>alias of <code class="xref py py-class docutils literal notranslate"><span class="pre">pandas.core.arrays.categorical.CategoricalAccessor</span></code></p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.clip.html#pandas.Series.clip" title="pandas.Series.clip"><code class="xref py py-obj docutils literal notranslate"><span class="pre">clip</span></code></a>([lower,&nbsp;upper,&nbsp;axis,&nbsp;inplace])</p></td>
<td><p>Trim values at input threshold(s).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.combine.html#pandas.Series.combine" title="pandas.Series.combine"><code class="xref py py-obj docutils literal notranslate"><span class="pre">combine</span></code></a>(other,&nbsp;func[,&nbsp;fill_value])</p></td>
<td><p>Combine the Series with a Series or scalar according to <cite>func</cite>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.combine_first.html#pandas.Series.combine_first" title="pandas.Series.combine_first"><code class="xref py py-obj docutils literal notranslate"><span class="pre">combine_first</span></code></a>(other)</p></td>
<td><p>Update null elements with value in the same location in 'other'.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.compare.html#pandas.Series.compare" title="pandas.Series.compare"><code class="xref py py-obj docutils literal notranslate"><span class="pre">compare</span></code></a>(other[,&nbsp;align_axis,&nbsp;keep_shape,&nbsp;...])</p></td>
<td><p>Compare to another Series and show the differences.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.convert_dtypes.html#pandas.Series.convert_dtypes" title="pandas.Series.convert_dtypes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">convert_dtypes</span></code></a>([infer_objects,&nbsp;...])</p></td>
<td><p>Convert columns to best possible dtypes using dtypes supporting <code class="docutils literal notranslate"><span class="pre">pd.NA</span></code>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.copy.html#pandas.Series.copy" title="pandas.Series.copy"><code class="xref py py-obj docutils literal notranslate"><span class="pre">copy</span></code></a>([deep])</p></td>
<td><p>Make a copy of this object's indices and data.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.corr.html#pandas.Series.corr" title="pandas.Series.corr"><code class="xref py py-obj docutils literal notranslate"><span class="pre">corr</span></code></a>(other[,&nbsp;method,&nbsp;min_periods])</p></td>
<td><p>Compute correlation with <cite>other</cite> Series, excluding missing values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.count.html#pandas.Series.count" title="pandas.Series.count"><code class="xref py py-obj docutils literal notranslate"><span class="pre">count</span></code></a>([level])</p></td>
<td><p>Return number of non-NA/null observations in the Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.cov.html#pandas.Series.cov" title="pandas.Series.cov"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cov</span></code></a>(other[,&nbsp;min_periods,&nbsp;ddof])</p></td>
<td><p>Compute covariance with Series, excluding missing values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.cummax.html#pandas.Series.cummax" title="pandas.Series.cummax"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cummax</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return cumulative maximum over a DataFrame or Series axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.cummin.html#pandas.Series.cummin" title="pandas.Series.cummin"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cummin</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return cumulative minimum over a DataFrame or Series axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.cumprod.html#pandas.Series.cumprod" title="pandas.Series.cumprod"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cumprod</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return cumulative product over a DataFrame or Series axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.cumsum.html#pandas.Series.cumsum" title="pandas.Series.cumsum"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cumsum</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return cumulative sum over a DataFrame or Series axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.describe.html#pandas.Series.describe" title="pandas.Series.describe"><code class="xref py py-obj docutils literal notranslate"><span class="pre">describe</span></code></a>([percentiles,&nbsp;include,&nbsp;exclude,&nbsp;...])</p></td>
<td><p>Generate descriptive statistics.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.diff.html#pandas.Series.diff" title="pandas.Series.diff"><code class="xref py py-obj docutils literal notranslate"><span class="pre">diff</span></code></a>([periods])</p></td>
<td><p>First discrete difference of element.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.div.html#pandas.Series.div" title="pandas.Series.div"><code class="xref py py-obj docutils literal notranslate"><span class="pre">div</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Floating division of series and other, element-wise (binary operator <cite>truediv</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.divide.html#pandas.Series.divide" title="pandas.Series.divide"><code class="xref py py-obj docutils literal notranslate"><span class="pre">divide</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Floating division of series and other, element-wise (binary operator <cite>truediv</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.divmod.html#pandas.Series.divmod" title="pandas.Series.divmod"><code class="xref py py-obj docutils literal notranslate"><span class="pre">divmod</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Integer division and modulo of series and other, element-wise (binary operator <cite>divmod</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.dot.html#pandas.Series.dot" title="pandas.Series.dot"><code class="xref py py-obj docutils literal notranslate"><span class="pre">dot</span></code></a>(other)</p></td>
<td><p>Compute the dot product between the Series and the columns of other.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.drop.html#pandas.Series.drop" title="pandas.Series.drop"><code class="xref py py-obj docutils literal notranslate"><span class="pre">drop</span></code></a>([labels,&nbsp;axis,&nbsp;index,&nbsp;columns,&nbsp;level,&nbsp;...])</p></td>
<td><p>Return Series with specified index labels removed.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.drop_duplicates.html#pandas.Series.drop_duplicates" title="pandas.Series.drop_duplicates"><code class="xref py py-obj docutils literal notranslate"><span class="pre">drop_duplicates</span></code></a>([keep,&nbsp;inplace])</p></td>
<td><p>Return Series with duplicate values removed.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.droplevel.html#pandas.Series.droplevel" title="pandas.Series.droplevel"><code class="xref py py-obj docutils literal notranslate"><span class="pre">droplevel</span></code></a>(level[,&nbsp;axis])</p></td>
<td><p>Return Series/DataFrame with requested index / column level(s) removed.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.dropna.html#pandas.Series.dropna" title="pandas.Series.dropna"><code class="xref py py-obj docutils literal notranslate"><span class="pre">dropna</span></code></a>([axis,&nbsp;inplace,&nbsp;how])</p></td>
<td><p>Return a new Series with missing values removed.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.dt.html#pandas.Series.dt" title="pandas.Series.dt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">dt</span></code></a></p></td>
<td><p>alias of <code class="xref py py-class docutils literal notranslate"><span class="pre">pandas.core.indexes.accessors.CombinedDatetimelikeProperties</span></code></p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.duplicated.html#pandas.Series.duplicated" title="pandas.Series.duplicated"><code class="xref py py-obj docutils literal notranslate"><span class="pre">duplicated</span></code></a>([keep])</p></td>
<td><p>Indicate duplicate Series values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.eq.html#pandas.Series.eq" title="pandas.Series.eq"><code class="xref py py-obj docutils literal notranslate"><span class="pre">eq</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Equal to of series and other, element-wise (binary operator <cite>eq</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.equals.html#pandas.Series.equals" title="pandas.Series.equals"><code class="xref py py-obj docutils literal notranslate"><span class="pre">equals</span></code></a>(other)</p></td>
<td><p>Test whether two objects contain the same elements.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.ewm.html#pandas.Series.ewm" title="pandas.Series.ewm"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ewm</span></code></a>([com,&nbsp;span,&nbsp;halflife,&nbsp;alpha,&nbsp;...])</p></td>
<td><p>Provide exponentially weighted (EW) calculations.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.expanding.html#pandas.Series.expanding" title="pandas.Series.expanding"><code class="xref py py-obj docutils literal notranslate"><span class="pre">expanding</span></code></a>([min_periods,&nbsp;center,&nbsp;axis,&nbsp;method])</p></td>
<td><p>Provide expanding window calculations.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.explode.html#pandas.Series.explode" title="pandas.Series.explode"><code class="xref py py-obj docutils literal notranslate"><span class="pre">explode</span></code></a>([ignore_index])</p></td>
<td><p>Transform each element of a list-like to a row.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.factorize.html#pandas.Series.factorize" title="pandas.Series.factorize"><code class="xref py py-obj docutils literal notranslate"><span class="pre">factorize</span></code></a>([sort,&nbsp;na_sentinel,&nbsp;use_na_sentinel])</p></td>
<td><p>Encode the object as an enumerated type or categorical variable.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.ffill.html#pandas.Series.ffill" title="pandas.Series.ffill"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ffill</span></code></a>([axis,&nbsp;inplace,&nbsp;limit,&nbsp;downcast])</p></td>
<td><p>Synonym for <a class="reference internal" href="pandas.DataFrame.fillna.html#pandas.DataFrame.fillna" title="pandas.DataFrame.fillna"><code class="xref py py-meth docutils literal notranslate"><span class="pre">DataFrame.fillna()</span></code></a> with <code class="docutils literal notranslate"><span class="pre">method='ffill'</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.fillna.html#pandas.Series.fillna" title="pandas.Series.fillna"><code class="xref py py-obj docutils literal notranslate"><span class="pre">fillna</span></code></a>([value,&nbsp;method,&nbsp;axis,&nbsp;inplace,&nbsp;...])</p></td>
<td><p>Fill NA/NaN values using the specified method.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.filter.html#pandas.Series.filter" title="pandas.Series.filter"><code class="xref py py-obj docutils literal notranslate"><span class="pre">filter</span></code></a>([items,&nbsp;like,&nbsp;regex,&nbsp;axis])</p></td>
<td><p>Subset the dataframe rows or columns according to the specified index labels.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.first.html#pandas.Series.first" title="pandas.Series.first"><code class="xref py py-obj docutils literal notranslate"><span class="pre">first</span></code></a>(offset)</p></td>
<td><p>Select initial periods of time series data based on a date offset.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.first_valid_index.html#pandas.Series.first_valid_index" title="pandas.Series.first_valid_index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">first_valid_index</span></code></a>()</p></td>
<td><p>Return index for first non-NA value or None, if no non-NA value is found.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.floordiv.html#pandas.Series.floordiv" title="pandas.Series.floordiv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">floordiv</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Integer division of series and other, element-wise (binary operator <cite>floordiv</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.ge.html#pandas.Series.ge" title="pandas.Series.ge"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ge</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Greater than or equal to of series and other, element-wise (binary operator <cite>ge</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.get.html#pandas.Series.get" title="pandas.Series.get"><code class="xref py py-obj docutils literal notranslate"><span class="pre">get</span></code></a>(key[,&nbsp;default])</p></td>
<td><p>Get item from object for given key (ex: DataFrame column).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.groupby.html#pandas.Series.groupby" title="pandas.Series.groupby"><code class="xref py py-obj docutils literal notranslate"><span class="pre">groupby</span></code></a>([by,&nbsp;axis,&nbsp;level,&nbsp;as_index,&nbsp;sort,&nbsp;...])</p></td>
<td><p>Group Series using a mapper or by a Series of columns.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.gt.html#pandas.Series.gt" title="pandas.Series.gt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">gt</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Greater than of series and other, element-wise (binary operator <cite>gt</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.head.html#pandas.Series.head" title="pandas.Series.head"><code class="xref py py-obj docutils literal notranslate"><span class="pre">head</span></code></a>([n])</p></td>
<td><p>Return the first <cite>n</cite> rows.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.hist.html#pandas.Series.hist" title="pandas.Series.hist"><code class="xref py py-obj docutils literal notranslate"><span class="pre">hist</span></code></a>([by,&nbsp;ax,&nbsp;grid,&nbsp;xlabelsize,&nbsp;xrot,&nbsp;...])</p></td>
<td><p>Draw histogram of the input series using matplotlib.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.idxmax.html#pandas.Series.idxmax" title="pandas.Series.idxmax"><code class="xref py py-obj docutils literal notranslate"><span class="pre">idxmax</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return the row label of the maximum value.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.idxmin.html#pandas.Series.idxmin" title="pandas.Series.idxmin"><code class="xref py py-obj docutils literal notranslate"><span class="pre">idxmin</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return the row label of the minimum value.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.infer_objects.html#pandas.Series.infer_objects" title="pandas.Series.infer_objects"><code class="xref py py-obj docutils literal notranslate"><span class="pre">infer_objects</span></code></a>()</p></td>
<td><p>Attempt to infer better dtypes for object columns.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.info.html#pandas.Series.info" title="pandas.Series.info"><code class="xref py py-obj docutils literal notranslate"><span class="pre">info</span></code></a>([verbose,&nbsp;buf,&nbsp;max_cols,&nbsp;memory_usage,&nbsp;...])</p></td>
<td><p>Print a concise summary of a Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.interpolate.html#pandas.Series.interpolate" title="pandas.Series.interpolate"><code class="xref py py-obj docutils literal notranslate"><span class="pre">interpolate</span></code></a>([method,&nbsp;axis,&nbsp;limit,&nbsp;inplace,&nbsp;...])</p></td>
<td><p>Fill NaN values using an interpolation method.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.isin.html#pandas.Series.isin" title="pandas.Series.isin"><code class="xref py py-obj docutils literal notranslate"><span class="pre">isin</span></code></a>(values)</p></td>
<td><p>Whether elements in Series are contained in <cite>values</cite>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.isna.html#pandas.Series.isna" title="pandas.Series.isna"><code class="xref py py-obj docutils literal notranslate"><span class="pre">isna</span></code></a>()</p></td>
<td><p>Detect missing values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.isnull.html#pandas.Series.isnull" title="pandas.Series.isnull"><code class="xref py py-obj docutils literal notranslate"><span class="pre">isnull</span></code></a>()</p></td>
<td><p>Series.isnull is an alias for Series.isna.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.item.html#pandas.Series.item" title="pandas.Series.item"><code class="xref py py-obj docutils literal notranslate"><span class="pre">item</span></code></a>()</p></td>
<td><p>Return the first element of the underlying data as a Python scalar.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.items.html#pandas.Series.items" title="pandas.Series.items"><code class="xref py py-obj docutils literal notranslate"><span class="pre">items</span></code></a>()</p></td>
<td><p>Lazily iterate over (index, value) tuples.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.iteritems.html#pandas.Series.iteritems" title="pandas.Series.iteritems"><code class="xref py py-obj docutils literal notranslate"><span class="pre">iteritems</span></code></a>()</p></td>
<td><p>(DEPRECATED) Lazily iterate over (index, value) tuples.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.keys.html#pandas.Series.keys" title="pandas.Series.keys"><code class="xref py py-obj docutils literal notranslate"><span class="pre">keys</span></code></a>()</p></td>
<td><p>Return alias for index.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.kurt.html#pandas.Series.kurt" title="pandas.Series.kurt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">kurt</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return unbiased kurtosis over requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.kurtosis.html#pandas.Series.kurtosis" title="pandas.Series.kurtosis"><code class="xref py py-obj docutils literal notranslate"><span class="pre">kurtosis</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return unbiased kurtosis over requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.last.html#pandas.Series.last" title="pandas.Series.last"><code class="xref py py-obj docutils literal notranslate"><span class="pre">last</span></code></a>(offset)</p></td>
<td><p>Select final periods of time series data based on a date offset.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.last_valid_index.html#pandas.Series.last_valid_index" title="pandas.Series.last_valid_index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">last_valid_index</span></code></a>()</p></td>
<td><p>Return index for last non-NA value or None, if no non-NA value is found.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.le.html#pandas.Series.le" title="pandas.Series.le"><code class="xref py py-obj docutils literal notranslate"><span class="pre">le</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Less than or equal to of series and other, element-wise (binary operator <cite>le</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.lt.html#pandas.Series.lt" title="pandas.Series.lt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">lt</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Less than of series and other, element-wise (binary operator <cite>lt</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.mad.html#pandas.Series.mad" title="pandas.Series.mad"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mad</span></code></a>([axis,&nbsp;skipna,&nbsp;level])</p></td>
<td><p>(DEPRECATED) Return the mean absolute deviation of the values over the requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.map.html#pandas.Series.map" title="pandas.Series.map"><code class="xref py py-obj docutils literal notranslate"><span class="pre">map</span></code></a>(arg[,&nbsp;na_action])</p></td>
<td><p>Map values of Series according to an input mapping or function.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.mask.html#pandas.Series.mask" title="pandas.Series.mask"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mask</span></code></a>(cond[,&nbsp;other,&nbsp;inplace,&nbsp;axis,&nbsp;level,&nbsp;...])</p></td>
<td><p>Replace values where the condition is True.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.max.html#pandas.Series.max" title="pandas.Series.max"><code class="xref py py-obj docutils literal notranslate"><span class="pre">max</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return the maximum of the values over the requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.mean.html#pandas.Series.mean" title="pandas.Series.mean"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mean</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return the mean of the values over the requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.median.html#pandas.Series.median" title="pandas.Series.median"><code class="xref py py-obj docutils literal notranslate"><span class="pre">median</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return the median of the values over the requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.memory_usage.html#pandas.Series.memory_usage" title="pandas.Series.memory_usage"><code class="xref py py-obj docutils literal notranslate"><span class="pre">memory_usage</span></code></a>([index,&nbsp;deep])</p></td>
<td><p>Return the memory usage of the Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.min.html#pandas.Series.min" title="pandas.Series.min"><code class="xref py py-obj docutils literal notranslate"><span class="pre">min</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return the minimum of the values over the requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.mod.html#pandas.Series.mod" title="pandas.Series.mod"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mod</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Modulo of series and other, element-wise (binary operator <cite>mod</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.mode.html#pandas.Series.mode" title="pandas.Series.mode"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mode</span></code></a>([dropna])</p></td>
<td><p>Return the mode(s) of the Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.mul.html#pandas.Series.mul" title="pandas.Series.mul"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mul</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Multiplication of series and other, element-wise (binary operator <cite>mul</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.multiply.html#pandas.Series.multiply" title="pandas.Series.multiply"><code class="xref py py-obj docutils literal notranslate"><span class="pre">multiply</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Multiplication of series and other, element-wise (binary operator <cite>mul</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.ne.html#pandas.Series.ne" title="pandas.Series.ne"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ne</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Not equal to of series and other, element-wise (binary operator <cite>ne</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.nlargest.html#pandas.Series.nlargest" title="pandas.Series.nlargest"><code class="xref py py-obj docutils literal notranslate"><span class="pre">nlargest</span></code></a>([n,&nbsp;keep])</p></td>
<td><p>Return the largest <cite>n</cite> elements.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.notna.html#pandas.Series.notna" title="pandas.Series.notna"><code class="xref py py-obj docutils literal notranslate"><span class="pre">notna</span></code></a>()</p></td>
<td><p>Detect existing (non-missing) values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.notnull.html#pandas.Series.notnull" title="pandas.Series.notnull"><code class="xref py py-obj docutils literal notranslate"><span class="pre">notnull</span></code></a>()</p></td>
<td><p>Series.notnull is an alias for Series.notna.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.nsmallest.html#pandas.Series.nsmallest" title="pandas.Series.nsmallest"><code class="xref py py-obj docutils literal notranslate"><span class="pre">nsmallest</span></code></a>([n,&nbsp;keep])</p></td>
<td><p>Return the smallest <cite>n</cite> elements.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.nunique.html#pandas.Series.nunique" title="pandas.Series.nunique"><code class="xref py py-obj docutils literal notranslate"><span class="pre">nunique</span></code></a>([dropna])</p></td>
<td><p>Return number of unique elements in the object.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.pad.html#pandas.Series.pad" title="pandas.Series.pad"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pad</span></code></a>([axis,&nbsp;inplace,&nbsp;limit,&nbsp;downcast])</p></td>
<td><p>Synonym for <a class="reference internal" href="pandas.DataFrame.fillna.html#pandas.DataFrame.fillna" title="pandas.DataFrame.fillna"><code class="xref py py-meth docutils literal notranslate"><span class="pre">DataFrame.fillna()</span></code></a> with <code class="docutils literal notranslate"><span class="pre">method='ffill'</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.pct_change.html#pandas.Series.pct_change" title="pandas.Series.pct_change"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pct_change</span></code></a>([periods,&nbsp;fill_method,&nbsp;limit,&nbsp;freq])</p></td>
<td><p>Percentage change between the current and a prior element.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.pipe.html#pandas.Series.pipe" title="pandas.Series.pipe"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pipe</span></code></a>(func,&nbsp;*args,&nbsp;**kwargs)</p></td>
<td><p>Apply chainable functions that expect Series or DataFrames.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.plot.html#pandas.Series.plot" title="pandas.Series.plot"><code class="xref py py-obj docutils literal notranslate"><span class="pre">plot</span></code></a></p></td>
<td><p>alias of <code class="xref py py-class docutils literal notranslate"><span class="pre">pandas.plotting._core.PlotAccessor</span></code></p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.pop.html#pandas.Series.pop" title="pandas.Series.pop"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pop</span></code></a>(item)</p></td>
<td><p>Return item and drops from series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.pow.html#pandas.Series.pow" title="pandas.Series.pow"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pow</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Exponential power of series and other, element-wise (binary operator <cite>pow</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.prod.html#pandas.Series.prod" title="pandas.Series.prod"><code class="xref py py-obj docutils literal notranslate"><span class="pre">prod</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only,&nbsp;...])</p></td>
<td><p>Return the product of the values over the requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.product.html#pandas.Series.product" title="pandas.Series.product"><code class="xref py py-obj docutils literal notranslate"><span class="pre">product</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only,&nbsp;...])</p></td>
<td><p>Return the product of the values over the requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.quantile.html#pandas.Series.quantile" title="pandas.Series.quantile"><code class="xref py py-obj docutils literal notranslate"><span class="pre">quantile</span></code></a>([q,&nbsp;interpolation])</p></td>
<td><p>Return value at the given quantile.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.radd.html#pandas.Series.radd" title="pandas.Series.radd"><code class="xref py py-obj docutils literal notranslate"><span class="pre">radd</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Addition of series and other, element-wise (binary operator <cite>radd</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.rank.html#pandas.Series.rank" title="pandas.Series.rank"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rank</span></code></a>([axis,&nbsp;method,&nbsp;numeric_only,&nbsp;...])</p></td>
<td><p>Compute numerical data ranks (1 through n) along axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.ravel.html#pandas.Series.ravel" title="pandas.Series.ravel"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ravel</span></code></a>([order])</p></td>
<td><p>Return the flattened underlying data as an ndarray.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.rdiv.html#pandas.Series.rdiv" title="pandas.Series.rdiv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rdiv</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Floating division of series and other, element-wise (binary operator <cite>rtruediv</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.rdivmod.html#pandas.Series.rdivmod" title="pandas.Series.rdivmod"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rdivmod</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Integer division and modulo of series and other, element-wise (binary operator <cite>rdivmod</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.reindex.html#pandas.Series.reindex" title="pandas.Series.reindex"><code class="xref py py-obj docutils literal notranslate"><span class="pre">reindex</span></code></a>(*args,&nbsp;**kwargs)</p></td>
<td><p>Conform Series to new index with optional filling logic.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.reindex_like.html#pandas.Series.reindex_like" title="pandas.Series.reindex_like"><code class="xref py py-obj docutils literal notranslate"><span class="pre">reindex_like</span></code></a>(other[,&nbsp;method,&nbsp;copy,&nbsp;limit,&nbsp;...])</p></td>
<td><p>Return an object with matching indices as other object.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.rename.html#pandas.Series.rename" title="pandas.Series.rename"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rename</span></code></a>([index,&nbsp;axis,&nbsp;copy,&nbsp;inplace,&nbsp;level,&nbsp;...])</p></td>
<td><p>Alter Series index labels or name.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.rename_axis.html#pandas.Series.rename_axis" title="pandas.Series.rename_axis"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rename_axis</span></code></a>([mapper,&nbsp;index,&nbsp;columns,&nbsp;axis,&nbsp;copy])</p></td>
<td><p>Set the name of the axis for the index or columns.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.reorder_levels.html#pandas.Series.reorder_levels" title="pandas.Series.reorder_levels"><code class="xref py py-obj docutils literal notranslate"><span class="pre">reorder_levels</span></code></a>(order)</p></td>
<td><p>Rearrange index levels using input order.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.repeat.html#pandas.Series.repeat" title="pandas.Series.repeat"><code class="xref py py-obj docutils literal notranslate"><span class="pre">repeat</span></code></a>(repeats[,&nbsp;axis])</p></td>
<td><p>Repeat elements of a Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.replace.html#pandas.Series.replace" title="pandas.Series.replace"><code class="xref py py-obj docutils literal notranslate"><span class="pre">replace</span></code></a>([to_replace,&nbsp;value,&nbsp;inplace,&nbsp;limit,&nbsp;...])</p></td>
<td><p>Replace values given in <cite>to_replace</cite> with <cite>value</cite>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.resample.html#pandas.Series.resample" title="pandas.Series.resample"><code class="xref py py-obj docutils literal notranslate"><span class="pre">resample</span></code></a>(rule[,&nbsp;axis,&nbsp;closed,&nbsp;label,&nbsp;...])</p></td>
<td><p>Resample time-series data.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.reset_index.html#pandas.Series.reset_index" title="pandas.Series.reset_index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">reset_index</span></code></a>([level,&nbsp;drop,&nbsp;name,&nbsp;inplace,&nbsp;...])</p></td>
<td><p>Generate a new DataFrame or Series with the index reset.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.rfloordiv.html#pandas.Series.rfloordiv" title="pandas.Series.rfloordiv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rfloordiv</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Integer division of series and other, element-wise (binary operator <cite>rfloordiv</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.rmod.html#pandas.Series.rmod" title="pandas.Series.rmod"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rmod</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Modulo of series and other, element-wise (binary operator <cite>rmod</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.rmul.html#pandas.Series.rmul" title="pandas.Series.rmul"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rmul</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Multiplication of series and other, element-wise (binary operator <cite>rmul</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.rolling.html#pandas.Series.rolling" title="pandas.Series.rolling"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling</span></code></a>(window[,&nbsp;min_periods,&nbsp;center,&nbsp;...])</p></td>
<td><p>Provide rolling window calculations.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.round.html#pandas.Series.round" title="pandas.Series.round"><code class="xref py py-obj docutils literal notranslate"><span class="pre">round</span></code></a>([decimals])</p></td>
<td><p>Round each value in a Series to the given number of decimals.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.rpow.html#pandas.Series.rpow" title="pandas.Series.rpow"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rpow</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Exponential power of series and other, element-wise (binary operator <cite>rpow</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.rsub.html#pandas.Series.rsub" title="pandas.Series.rsub"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rsub</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Subtraction of series and other, element-wise (binary operator <cite>rsub</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.rtruediv.html#pandas.Series.rtruediv" title="pandas.Series.rtruediv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rtruediv</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Floating division of series and other, element-wise (binary operator <cite>rtruediv</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.sample.html#pandas.Series.sample" title="pandas.Series.sample"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sample</span></code></a>([n,&nbsp;frac,&nbsp;replace,&nbsp;weights,&nbsp;...])</p></td>
<td><p>Return a random sample of items from an axis of object.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.searchsorted.html#pandas.Series.searchsorted" title="pandas.Series.searchsorted"><code class="xref py py-obj docutils literal notranslate"><span class="pre">searchsorted</span></code></a>(value[,&nbsp;side,&nbsp;sorter])</p></td>
<td><p>Find indices where elements should be inserted to maintain order.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.sem.html#pandas.Series.sem" title="pandas.Series.sem"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sem</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;ddof,&nbsp;numeric_only])</p></td>
<td><p>Return unbiased standard error of the mean over requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.set_axis.html#pandas.Series.set_axis" title="pandas.Series.set_axis"><code class="xref py py-obj docutils literal notranslate"><span class="pre">set_axis</span></code></a>(labels[,&nbsp;axis,&nbsp;inplace,&nbsp;copy])</p></td>
<td><p>Assign desired index to given axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.set_flags.html#pandas.Series.set_flags" title="pandas.Series.set_flags"><code class="xref py py-obj docutils literal notranslate"><span class="pre">set_flags</span></code></a>(*[,&nbsp;copy,&nbsp;allows_duplicate_labels])</p></td>
<td><p>Return a new object with updated flags.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.shift.html#pandas.Series.shift" title="pandas.Series.shift"><code class="xref py py-obj docutils literal notranslate"><span class="pre">shift</span></code></a>([periods,&nbsp;freq,&nbsp;axis,&nbsp;fill_value])</p></td>
<td><p>Shift index by desired number of periods with an optional time <cite>freq</cite>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.skew.html#pandas.Series.skew" title="pandas.Series.skew"><code class="xref py py-obj docutils literal notranslate"><span class="pre">skew</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return unbiased skew over requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.slice_shift.html#pandas.Series.slice_shift" title="pandas.Series.slice_shift"><code class="xref py py-obj docutils literal notranslate"><span class="pre">slice_shift</span></code></a>([periods,&nbsp;axis])</p></td>
<td><p>(DEPRECATED) Equivalent to <cite>shift</cite> without copying data.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.sort_index.html#pandas.Series.sort_index" title="pandas.Series.sort_index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sort_index</span></code></a>([axis,&nbsp;level,&nbsp;ascending,&nbsp;...])</p></td>
<td><p>Sort Series by index labels.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.sort_values.html#pandas.Series.sort_values" title="pandas.Series.sort_values"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sort_values</span></code></a>([axis,&nbsp;ascending,&nbsp;inplace,&nbsp;...])</p></td>
<td><p>Sort by the values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.sparse.html#pandas.Series.sparse" title="pandas.Series.sparse"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sparse</span></code></a></p></td>
<td><p>alias of <code class="xref py py-class docutils literal notranslate"><span class="pre">pandas.core.arrays.sparse.accessor.SparseAccessor</span></code></p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.squeeze.html#pandas.Series.squeeze" title="pandas.Series.squeeze"><code class="xref py py-obj docutils literal notranslate"><span class="pre">squeeze</span></code></a>([axis])</p></td>
<td><p>Squeeze 1 dimensional axis objects into scalars.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.std.html#pandas.Series.std" title="pandas.Series.std"><code class="xref py py-obj docutils literal notranslate"><span class="pre">std</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;ddof,&nbsp;numeric_only])</p></td>
<td><p>Return sample standard deviation over requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.str.html#pandas.Series.str" title="pandas.Series.str"><code class="xref py py-obj docutils literal notranslate"><span class="pre">str</span></code></a></p></td>
<td><p>alias of <code class="xref py py-class docutils literal notranslate"><span class="pre">pandas.core.strings.accessor.StringMethods</span></code></p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.sub.html#pandas.Series.sub" title="pandas.Series.sub"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sub</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Subtraction of series and other, element-wise (binary operator <cite>sub</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.subtract.html#pandas.Series.subtract" title="pandas.Series.subtract"><code class="xref py py-obj docutils literal notranslate"><span class="pre">subtract</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Subtraction of series and other, element-wise (binary operator <cite>sub</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.sum.html#pandas.Series.sum" title="pandas.Series.sum"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sum</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only,&nbsp;...])</p></td>
<td><p>Return the sum of the values over the requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.swapaxes.html#pandas.Series.swapaxes" title="pandas.Series.swapaxes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">swapaxes</span></code></a>(axis1,&nbsp;axis2[,&nbsp;copy])</p></td>
<td><p>Interchange axes and swap values axes appropriately.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.swaplevel.html#pandas.Series.swaplevel" title="pandas.Series.swaplevel"><code class="xref py py-obj docutils literal notranslate"><span class="pre">swaplevel</span></code></a>([i,&nbsp;j,&nbsp;copy])</p></td>
<td><p>Swap levels i and j in a <a class="reference internal" href="pandas.MultiIndex.html#pandas.MultiIndex" title="pandas.MultiIndex"><code class="xref py py-class docutils literal notranslate"><span class="pre">MultiIndex</span></code></a>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.tail.html#pandas.Series.tail" title="pandas.Series.tail"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tail</span></code></a>([n])</p></td>
<td><p>Return the last <cite>n</cite> rows.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.take.html#pandas.Series.take" title="pandas.Series.take"><code class="xref py py-obj docutils literal notranslate"><span class="pre">take</span></code></a>(indices[,&nbsp;axis,&nbsp;is_copy])</p></td>
<td><p>Return the elements in the given <em>positional</em> indices along an axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.to_clipboard.html#pandas.Series.to_clipboard" title="pandas.Series.to_clipboard"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_clipboard</span></code></a>([excel,&nbsp;sep])</p></td>
<td><p>Copy object to the system clipboard.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.to_csv.html#pandas.Series.to_csv" title="pandas.Series.to_csv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_csv</span></code></a>([path_or_buf,&nbsp;sep,&nbsp;na_rep,&nbsp;...])</p></td>
<td><p>Write object to a comma-separated values (csv) file.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.to_dict.html#pandas.Series.to_dict" title="pandas.Series.to_dict"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_dict</span></code></a>([into])</p></td>
<td><p>Convert Series to {label -&gt; value} dict or dict-like object.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.to_excel.html#pandas.Series.to_excel" title="pandas.Series.to_excel"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_excel</span></code></a>(excel_writer[,&nbsp;sheet_name,&nbsp;na_rep,&nbsp;...])</p></td>
<td><p>Write object to an Excel sheet.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.to_frame.html#pandas.Series.to_frame" title="pandas.Series.to_frame"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_frame</span></code></a>([name])</p></td>
<td><p>Convert Series to DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.to_hdf.html#pandas.Series.to_hdf" title="pandas.Series.to_hdf"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_hdf</span></code></a>(path_or_buf,&nbsp;key[,&nbsp;mode,&nbsp;complevel,&nbsp;...])</p></td>
<td><p>Write the contained data to an HDF5 file using HDFStore.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.to_json.html#pandas.Series.to_json" title="pandas.Series.to_json"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_json</span></code></a>([path_or_buf,&nbsp;orient,&nbsp;date_format,&nbsp;...])</p></td>
<td><p>Convert the object to a JSON string.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.to_latex.html#pandas.Series.to_latex" title="pandas.Series.to_latex"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_latex</span></code></a>([buf,&nbsp;columns,&nbsp;col_space,&nbsp;header,&nbsp;...])</p></td>
<td><p>Render object to a LaTeX tabular, longtable, or nested table.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.to_list.html#pandas.Series.to_list" title="pandas.Series.to_list"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_list</span></code></a>()</p></td>
<td><p>Return a list of the values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.to_markdown.html#pandas.Series.to_markdown" title="pandas.Series.to_markdown"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_markdown</span></code></a>([buf,&nbsp;mode,&nbsp;index,&nbsp;storage_options])</p></td>
<td><p>Print Series in Markdown-friendly format.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.to_numpy.html#pandas.Series.to_numpy" title="pandas.Series.to_numpy"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_numpy</span></code></a>([dtype,&nbsp;copy,&nbsp;na_value])</p></td>
<td><p>A NumPy ndarray representing the values in this Series or Index.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.to_period.html#pandas.Series.to_period" title="pandas.Series.to_period"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_period</span></code></a>([freq,&nbsp;copy])</p></td>
<td><p>Convert Series from DatetimeIndex to PeriodIndex.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.to_pickle.html#pandas.Series.to_pickle" title="pandas.Series.to_pickle"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_pickle</span></code></a>(path[,&nbsp;compression,&nbsp;protocol,&nbsp;...])</p></td>
<td><p>Pickle (serialize) object to file.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.to_sql.html#pandas.Series.to_sql" title="pandas.Series.to_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_sql</span></code></a>(name,&nbsp;con[,&nbsp;schema,&nbsp;if_exists,&nbsp;...])</p></td>
<td><p>Write records stored in a DataFrame to a SQL database.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.to_string.html#pandas.Series.to_string" title="pandas.Series.to_string"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_string</span></code></a>([buf,&nbsp;na_rep,&nbsp;float_format,&nbsp;...])</p></td>
<td><p>Render a string representation of the Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.to_timestamp.html#pandas.Series.to_timestamp" title="pandas.Series.to_timestamp"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_timestamp</span></code></a>([freq,&nbsp;how,&nbsp;copy])</p></td>
<td><p>Cast to DatetimeIndex of Timestamps, at <em>beginning</em> of period.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.to_xarray.html#pandas.Series.to_xarray" title="pandas.Series.to_xarray"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_xarray</span></code></a>()</p></td>
<td><p>Return an xarray object from the pandas object.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.tolist.html#pandas.Series.tolist" title="pandas.Series.tolist"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tolist</span></code></a>()</p></td>
<td><p>Return a list of the values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.transform.html#pandas.Series.transform" title="pandas.Series.transform"><code class="xref py py-obj docutils literal notranslate"><span class="pre">transform</span></code></a>(func[,&nbsp;axis])</p></td>
<td><p>Call <code class="docutils literal notranslate"><span class="pre">func</span></code> on self producing a Series with the same axis shape as self.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.transpose.html#pandas.Series.transpose" title="pandas.Series.transpose"><code class="xref py py-obj docutils literal notranslate"><span class="pre">transpose</span></code></a>(*args,&nbsp;**kwargs)</p></td>
<td><p>Return the transpose, which is by definition self.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.truediv.html#pandas.Series.truediv" title="pandas.Series.truediv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">truediv</span></code></a>(other[,&nbsp;level,&nbsp;fill_value,&nbsp;axis])</p></td>
<td><p>Return Floating division of series and other, element-wise (binary operator <cite>truediv</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.truncate.html#pandas.Series.truncate" title="pandas.Series.truncate"><code class="xref py py-obj docutils literal notranslate"><span class="pre">truncate</span></code></a>([before,&nbsp;after,&nbsp;axis,&nbsp;copy])</p></td>
<td><p>Truncate a Series or DataFrame before and after some index value.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.tshift.html#pandas.Series.tshift" title="pandas.Series.tshift"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tshift</span></code></a>([periods,&nbsp;freq,&nbsp;axis])</p></td>
<td><p>(DEPRECATED) Shift the time index, using the index's frequency if available.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.tz_convert.html#pandas.Series.tz_convert" title="pandas.Series.tz_convert"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tz_convert</span></code></a>(tz[,&nbsp;axis,&nbsp;level,&nbsp;copy])</p></td>
<td><p>Convert tz-aware axis to target time zone.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.tz_localize.html#pandas.Series.tz_localize" title="pandas.Series.tz_localize"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tz_localize</span></code></a>(tz[,&nbsp;axis,&nbsp;level,&nbsp;copy,&nbsp;...])</p></td>
<td><p>Localize tz-naive index of a Series or DataFrame to target time zone.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.unique.html#pandas.Series.unique" title="pandas.Series.unique"><code class="xref py py-obj docutils literal notranslate"><span class="pre">unique</span></code></a>()</p></td>
<td><p>Return unique values of Series object.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.unstack.html#pandas.Series.unstack" title="pandas.Series.unstack"><code class="xref py py-obj docutils literal notranslate"><span class="pre">unstack</span></code></a>([level,&nbsp;fill_value])</p></td>
<td><p>Unstack, also known as pivot, Series with MultiIndex to produce DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.update.html#pandas.Series.update" title="pandas.Series.update"><code class="xref py py-obj docutils literal notranslate"><span class="pre">update</span></code></a>(other)</p></td>
<td><p>Modify Series in place using values from passed Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.value_counts.html#pandas.Series.value_counts" title="pandas.Series.value_counts"><code class="xref py py-obj docutils literal notranslate"><span class="pre">value_counts</span></code></a>([normalize,&nbsp;sort,&nbsp;ascending,&nbsp;...])</p></td>
<td><p>Return a Series containing counts of unique values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.var.html#pandas.Series.var" title="pandas.Series.var"><code class="xref py py-obj docutils literal notranslate"><span class="pre">var</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;ddof,&nbsp;numeric_only])</p></td>
<td><p>Return unbiased variance over requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.view.html#pandas.Series.view" title="pandas.Series.view"><code class="xref py py-obj docutils literal notranslate"><span class="pre">view</span></code></a>([dtype])</p></td>
<td><p>Create a new view of the Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.Series.where.html#pandas.Series.where" title="pandas.Series.where"><code class="xref py py-obj docutils literal notranslate"><span class="pre">where</span></code></a>(cond[,&nbsp;other,&nbsp;inplace,&nbsp;axis,&nbsp;level,&nbsp;...])</p></td>
<td><p>Replace values where the condition is False.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.Series.xs.html#pandas.Series.xs" title="pandas.Series.xs"><code class="xref py py-obj docutils literal notranslate"><span class="pre">xs</span></code></a>(key[,&nbsp;axis,&nbsp;level,&nbsp;drop_level])</p></td>
<td><p>Return cross-section from the Series/DataFrame.</p></td>
</tr>
</tbody>
</table>
</dd>

### Accessing Element from Series with Position : 
- In order to access the series element refers to the index number. Use the index operator [ ] to access an element in a series. The index must be an integer. In order to access multiple elements from a series, we use Slice operation.

In [12]:
# Acessing element of the Series
print("Series element at index 3 :\n\n",s2[3],"\n\nType of element: ",type(s2[3]))
print("\nSeries element at index 11 to 14 :\n\n",s2[11:14],"\n\nType of element: ",type(s2[11:14]))

Series element at index 3 :

 4.0

Type of element:  <class 'numpy.float64'>

Series element at index 11 to 14 :

 11    5.4
12    3.2
Name: Series_s2, dtype: float64

Type of element:  <class 'pandas.core.series.Series'>

### Accessing Element Using Label (index) :
- In order to access an element from series, we have to set values by index label. A Series is like a fixed-size dictionary in that you can get and set values by index label.

In [13]:
# Accessing Element Using Label (index) :
print("Series element at index 3 :\n\n",s1["First Name"],"\n\nType of element: ",type(s1["First Name"]))

Series element at index 3 :

 Bhawan

Type of element:  <class 'str'>

### Indexing and Selecting Data in Series:

In [14]:
df = pd.read_csv("/kaggle/input/sales-data-practise/sales_data.csv")  
   
file_ser = pd.Series(df['Year']) 
data = file_ser.head(100)      #print first 15 line
print(data)

0     2013
1     2015
2     2014
3     2016
4     2014
      ...
95    2015
96    2013
97    2015
98    2013
99    2015
Name: Year, Length: 100, dtype: int64

#### 1.Indexing a Series using indexing operator [] :

In [15]:
#Using index Operator :
print("Printing data using index Operator:[From 10 to 30]\n")
print(data[10:30])

Printing data using index Operator:[From 10 to 30]

10    2013
11    2015
12    2013
13    2015
14    2013
15    2015
16    2013
17    2015
18    2014
19    2016
20    2014
21    2016
22    2014
23    2016
24    2013
25    2015
26    2013
27    2015
28    2014
29    2016
Name: Year, dtype: int64

#### 2. Indexing a Series using .loc[ ] :
- This function selects data by refering the explicit index . The df.loc indexer selects data in a different way than just the indexing operator. It can select subsets of data.

In [16]:
#Using .loc[]:
print("Indexing element Using .loc[]:\n")
print(data.loc[12:40])

Indexing element Using .loc[]:

12    2013
13    2015
14    2013
15    2015
16    2013
17    2015
18    2014
19    2016
20    2014
21    2016
22    2014
23    2016
24    2013
25    2015
26    2013
27    2015
28    2014
29    2016
30    2014
31    2016
32    2014
33    2016
34    2013
35    2015
36    2013
37    2015
38    2013
39    2015
40    2014
Name: Year, dtype: int64

#### 3. Indexing a Series using .iloc[ ] :
- This function allows us to retrieve data by position. In order to do that, well need to specify the positions of the data that we want. The df.iloc indexer is very similar to df.loc but only uses integer locations to make its selections.

In [17]:
#Using .iloc[]:
print("Indexing element Using .iloc[]:\n")
print(data.iloc[12:40])

Indexing element Using .iloc[]:

12    2013
13    2015
14    2013
15    2015
16    2013
17    2015
18    2014
19    2016
20    2014
21    2016
22    2014
23    2016
24    2013
25    2015
26    2013
27    2015
28    2014
29    2016
30    2014
31    2016
32    2014
33    2016
34    2013
35    2015
36    2013
37    2015
38    2013
39    2015
Name: Year, dtype: int64

### Mathematicals Operation on Series:

- **Note:** if value it not present to perform operation it will add **"NaN"** (Not a Number)

#### Adding Series add() and +:

In [18]:
#sample data
data = pd.Series(df['Customer_Age']) 
s1 = data.head(15)      #print first 50 line
print("Sample Series 1:\n",s1.head())

#sample1 data
data1 = pd.Series(df['Day']) 
s2 = data1.head(15)      #print first 50 line
print("\nSample Series 2:\n",s2.head())

Sample Series 1:
 0    19
1    19
2    49
3    49
4    47
Name: Customer_Age, dtype: int64

Sample Series 2:
 0    26
1    26
2    23
3    23
4    15
Name: Day, dtype: int64

In [19]:
print("Adding Series with the help of '+' Operator:")
print(s1+s2)

Adding Series with the help of '+' Operator:
0     45
1     45
2     72
3     72
4     62
5     62
6     69
7     69
8     57
9     57
10    62
11    62
12    49
13    49
14    31
dtype: int64

In [20]:
print("Adding Series with the help of add() Fun:")
#print(pd.Series.add(s1,s2))  Both are the same
print(s1.add(s2))

Adding Series with the help of add() Fun:
0     45
1     45
2     72
3     72
4     62
5     62
6     69
7     69
8     57
9     57
10    62
11    62
12    49
13    49
14    31
dtype: int64

#### Subtraction with help of '-' and sub():

In [21]:
print("Subtract Series with the help of '-' Operator:")
print(s1-s2)

Subtract Series with the help of '-' Operator:
0     -7
1     -7
2     26
3     26
4     32
5     32
6     25
7     25
8     13
9     13
10     2
11     2
12    19
13    19
14    27
dtype: int64

In [22]:
print("Subtract Series with the help of sub() Fun:")
#print(pd.Series.sub(s1,s2))  #Both are the same
print(s1.sub(s2))

Subtract Series with the help of sub() Fun:
0     -7
1     -7
2     26
3     26
4     32
5     32
6     25
7     25
8     13
9     13
10     2
11     2
12    19
13    19
14    27
dtype: int64

#### Multiplication with help of '*' and mul():

In [23]:
print("Multiply Series with help of '*':")
print(s1*s2)

Multiply Series with help of '*':
0      494
1      494
2     1127
3     1127
4      705
5      705
6     1034
7     1034
8      770
9      770
10     960
11     960
12     510
13     510
14      58
dtype: int64

In [24]:
print("Multiply Series with help of mul():")
# pd.series.mul(s1,s2)
print(s1.mul(s2))

Multiply Series with help of mul():
0      494
1      494
2     1127
3     1127
4      705
5      705
6     1034
7     1034
8      770
9      770
10     960
11     960
12     510
13     510
14      58
dtype: int64

#### Division with help of '/' and div():

In [25]:
print("Dividation of Series with help of '/' Operator:")
print(s1/s2)

Dividation of Series with help of '/' Operator:
0      0.730769
1      0.730769
2      2.130435
3      2.130435
4      3.133333
5      3.133333
6      2.136364
7      2.136364
8      1.590909
9      1.590909
10     1.066667
11     1.066667
12     2.266667
13     2.266667
14    14.500000
dtype: float64

In [26]:
print("Dividation of Series with help of mul() fun:")
print(s1.div(s2))

Dividation of Series with help of mul() fun:
0      0.730769
1      0.730769
2      2.130435
3      2.130435
4      3.133333
5      3.133333
6      2.136364
7      2.136364
8      1.590909
9      1.590909
10     1.066667
11     1.066667
12     2.266667
13     2.266667
14    14.500000
dtype: float64

#### Maximum of Series using max():

In [27]:
print("Maximum of Series:",s1.max())
print("Maximum of Series:",s2.max())

Maximum of Series: 49
Maximum of Series: 30

In [28]:
#Give Index of MAXIMUM
print("Index of max S1:",s1.idxmax())
print("Index of max S2:",s2.idxmax())

Index of max S1: 2
Index of max S2: 10

#### Minimum of Series using min():

In [29]:
print("Minimum of Series:",s1.min())
print("Minimum of Series:",s2.min())

Minimum of Series: 19
Minimum of Series: 2

In [30]:
#Give the index of MINIMUM
print("Index of MIN S1:",s1.idxmin())
print("Index of MIN S2:",s2.idxmin())

Index of MIN S1: 0
Index of MIN S2: 14

#### Sum of all element: Sum():

In [31]:
print("Sum of all element S1:",s1.sum())
print("Sum of all element S2:",s2.sum())

Sum of all element S1: 555
Sum of all element S2: 308

#### Product of all Value:
- Return the product of the values over the requested axis.
- **Syntex** <h4>Series.prod(axis=None, skipna=True, level=None, numeric_only=None, min_count=0, **kwargs)</h4>

In [32]:
###Due to data type (int64) it is giving wrong value beacuse product value is very high can't store in int64

print("Due to data type(int64 require higher) it is giviing wrong value:",s1.prod())  
print("Data type:",type(s1.prod()))

print("\nProduct of s2 Sereis:",s2.prod())

Due to data type(int64 require higher) it is giviing wrong value: -1711325169118031872
Data type: <class 'numpy.int64'>

Product of s2 Sereis: 7633621679112000000

#### Mean of Series Value:
- Return the mean of the values over the requested axis.
- **Syntax** <h4>Series.mean(axis=_NoDefault.no_default, skipna=True, level=None, numeric_only=None, **kwargs)</h4>

In [33]:
print("Mean of series 1 value:",s1.mean())
print("Mean of series 2 value:",s2.mean())

Mean of series 1 value: 37.0
Mean of series 2 value: 20.533333333333335

#### Power of Series Value:
- Return Exponential power of series and other, element-wise (binary operator pow).
- **Syntax:** <h4>Series.pow(other, level=None, fill_value=None, axis=0)</h4>

In [34]:
list1=[2 for i in range(17)]
power=pd.Series(list1)

#power is series with value 2 as POWER to Series s1.
print("Power of Series 1 value:\n",s1.pow(power)) 
print("\nPower of Series 2 value:\n",s2.pow(power))

Power of Series 1 value:
 0      361.0
1      361.0
2     2401.0
3     2401.0
4     2209.0
5     2209.0
6     2209.0
7     2209.0
8     1225.0
9     1225.0
10    1024.0
11    1024.0
12    1156.0
13    1156.0
14     841.0
15       NaN
16       NaN
dtype: float64

Power of Series 2 value:
 0     676.0
1     676.0
2     529.0
3     529.0
4     225.0
5     225.0
6     484.0
7     484.0
8     484.0
9     484.0
10    900.0
11    900.0
12    225.0
13    225.0
14      4.0
15      NaN
16      NaN
dtype: float64

In [35]:
# NaN NONE value replacement 
None_value=0
print("Power of Series 1 value:\n",s1.pow(power,fill_value=None_value)) 
print("\nPower of Series 2 value:\n",s2.pow(power,fill_value=None_value))

Power of Series 1 value:
 0      361.0
1      361.0
2     2401.0
3     2401.0
4     2209.0
5     2209.0
6     2209.0
7     2209.0
8     1225.0
9     1225.0
10    1024.0
11    1024.0
12    1156.0
13    1156.0
14     841.0
15       0.0
16       0.0
dtype: float64

Power of Series 2 value:
 0     676.0
1     676.0
2     529.0
3     529.0
4     225.0
5     225.0
6     484.0
7     484.0
8     484.0
9     484.0
10    900.0
11    900.0
12    225.0
13    225.0
14      4.0
15      0.0
16      0.0
dtype: float64

#### Absolute value / abs():
- The abs() function is used to get a Series/DataFrame with absolute numeric value of each element.|
- This function only applies to elements that are all numeric

In [36]:
test=pd.Series([-1,3,-4,-4.5,-10.3,-90,100])
print("Original test Series:\n",test,"\n\nFinding absolute value of Series:\n",test.abs())

Original test Series:
 0     -1.0
1      3.0
2     -4.0
3     -4.5
4    -10.3
5    -90.0
6    100.0
dtype: float64

Finding absolute value of Series:
 0      1.0
1      3.0
2      4.0
3      4.5
4     10.3
5     90.0
6    100.0
dtype: float64

In [37]:
df = pd.DataFrame({'Name': ['John', 'Hari', 'Peter', 'Loani'],
                  'Age': [31, 29, 57, 40],
                  'val': [98, 48, -80, -14]})
 

print("First it perform '-' Operation and than absolute:")
df['ope'] = (df.val - 87).abs() 
df

First it perform '-' Operation and than absolute:

    Name  Age  val  ope
0   John   31   98   11
1   Hari   29   48   39
2  Peter   57  -80  167
3  Loani   40  -14  101

#### Covariance
- Compute covariance with Series, excluding missing values.
- **Syntax** <h4>Series.cov(other, min_periods=None, ddof=1)

In [38]:
print("Find covariance of Sereis:",s2.cov(s1))
print("Find covariance of Sereis:",s1.cov(s2))

Find covariance of Sereis: -9.857142857142854
Find covariance of Sereis: -9.857142857142854

In [39]:
# storing average of a
av_a = sum(s1)/len(s1)
 
# storing average of b
av_b = sum(s2)/len(s2)
 
# finding covariance manually
def covarfn(a, b, av_a, av_b):
    cov = 0
 
    for i in range(0, len(a)):
        cov += (a[i] - av_a) * (b[i] - av_b)
    return (cov / (len(a)-1))
 
# calling function
cov = covarfn(s1, s2, av_a, av_b)

print("By Manually:",cov)

By Manually: -9.857142857142856

In [40]:
print("Find covariance of Sereis:",s1.cov(s1))
print("Find covariance of Sereis:",s2.cov(s2))

Find covariance of Sereis: 105.42857142857142
Find covariance of Sereis: 51.838095238095235

## Attributes Practise:
### Python | pandas.Series.is_unique:
- Return boolean if values in the object are unique.
- **Syntax** <h4>property Series.is_unique[source]</h4>

In [41]:
print("Is s1 Unique?",s1.is_unique)
print("Is s2 Unique?",s2.is_unique)

a=pd.Series([1,2,3,4,5,6,7,8,9])
print("Is a Unique?",a.is_unique)

Is s1 Unique? False
Is s2 Unique? False
Is a Unique? True

### Python | pandas.Series.size:
- Return the number of elements in the underlying data.
- **Syntax** <h4>property Series.size</h4>

In [42]:
print("Size of s1:",s1.size)
print("Size of s1:",s2.size)
print("Size of s1:",a.size)

Size of s1: 15
Size of s1: 15
Size of s1: 9

#### Python | pandas.Series.name:
- Return the name of the Series.
- **Syntax** <h4>property Series.name</h4>

- FOR RENAME WE USE RENAME ATTRIBUTE

In [43]:
s1.name="First_Series_S1"
s2.name="Second_Series_S2"
print(s1.head())
print()
print(s2.head())

0    19
1    19
2    49
3    49
4    47
Name: First_Series_S1, dtype: int64

0    26
1    26
2    23
3    23
4    15
Name: Second_Series_S2, dtype: int64

## Other Methods Practise:
### Python | Pandas Series.combine_first()
- Pandas combine_first() method is used to combine two series into one. The result is union of the two series that is in case of Null value in caller series, the value from passed series is taken. In case of both null values at the same index, null is returned at that index.
- **Syntax** <h4>Series.combine_first(other)</h4>
- Update null elements with value in the same location in other.

In [44]:
a=pd.Series([1,2,3,4,5,np.nan])
b=pd.Series([1,2,3,4,5,6])


print("Series 1:",a)
print("\nSeries 2:",a)
print("\nCombine List",a.combine_first(b))
print("\nCombine List if both have none value at same place",a.combine_first(a))

Series 1: 0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

Series 2: 0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

Combine List 0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

Combine List if both have none value at same place 0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

### Python | Pandas Series.count():
- Return number of non-NA/null observations in the Series.
- **Syntax** <h4>Series.count(level=None)[source]

In [45]:
print("Length of Series:",len(a))
print("Count of Non-NULL(NaN) value:",a.count())
print("Count of NULL value:",len(a)-a.count())

Length of Series: 6
Count of Non-NULL(NaN) value: 5
Count of NULL value: 1

### Python | pandas.Series.sort_values():
- Sort by the values.
    - Sort a Series in ascending or descending order by some criterion.
- **Syntax** <h4>Series.sort_values(axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)

In [46]:
print("Sorting values by values of Series:\n",s1.sort_values(ascending=True))

Sorting values by values of Series:
 0     19
1     19
14    29
10    32
11    32
12    34
13    34
8     35
9     35
4     47
5     47
6     47
7     47
2     49
3     49
Name: First_Series_S1, dtype: int64

In [47]:
print("Sorting values by values of Series:\n",s1.sort_values(ascending=False))

Sorting values by values of Series:
 2     49
3     49
4     47
5     47
6     47
7     47
8     35
9     35
12    34
13    34
10    32
11    32
14    29
0     19
1     19
Name: First_Series_S1, dtype: int64

- Returns a new Series sorted by label if inplace argument is False, otherwise updates the original series and returns None

In [48]:
print("Print 'None'(Reason above):",s1.sort_values(ascending=False,inplace=True))
print(s1)

Print 'None'(Reason above): None
2     49
3     49
4     47
5     47
6     47
7     47
8     35
9     35
12    34
13    34
10    32
11    32
14    29
0     19
1     19
Name: First_Series_S1, dtype: int64

In [49]:
a=pd.Series([1,2,3,np.nan,5,4,np.nan,6,4])
print("Sorting values by values of Series:\n",a.sort_values(ascending=True,na_position='first'))
print("Sorting values by values of Series:\n",a.sort_values(ascending=True,na_position='last'))

Sorting values by values of Series:
 3    NaN
6    NaN
0    1.0
1    2.0
2    3.0
5    4.0
8    4.0
4    5.0
7    6.0
dtype: float64
Sorting values by values of Series:
 0    1.0
1    2.0
2    3.0
5    4.0
8    4.0
4    5.0
7    6.0
3    NaN
6    NaN
dtype: float64

In [50]:
test = pd.Series(['z', 'b', 'd', 'a', 'c'])
print("Sorting values by values of Series:\n",test.sort_values())

Sorting values by values of Series:
 3    a
1    b
4    c
2    d
0    z
dtype: object

In [51]:
s = pd.Series(['a', 'B', 'c', 'D', 'e','g','h','F','I','j','k',])
print("Before:\n",s.sort_values())
print("\nAfter:\n",s.sort_values(key=lambda x: x.str.lower()))

Before:
 1     B
3     D
7     F
8     I
0     a
2     c
4     e
5     g
6     h
9     j
10    k
dtype: object

After:
 0     a
1     B
2     c
3     D
4     e
7     F
5     g
6     h
8     I
9     j
10    k
dtype: object

In [52]:
"""NumPy ufuncs work well here. For example, we can sort by the sin of the value"""
s = pd.Series([-4, -2, 0, 2, 4])
s.sort_values(key=np.sin)

1   -2
4    4
2    0
0   -4
3    2
dtype: int64

In [53]:
"""More complicated user-defined functions can be used, as long as they expect
a Series and return an array-like"""

s.sort_values(key=lambda x: (np.tan(x.cumsum())))

0   -4
3    2
4    4
1   -2
2    0
dtype: int64

### Python | pandas.Series.sort_index():
- Sort Series by index labels.
- Returns a new Series sorted by label if inplace argument is **False**, otherwise updates the original series and returns **None**
- **Syntax** <h4>Series.sort_index(axis=0, level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, ignore_index=False, key=None)

In [54]:
s = pd.Series(['a', 'b', 'c', 'd'], index=[3, 2, 1, 4])
print("Before :\n",s)
s.sort_index()

Before :
 3    a
2    b
1    c
4    d
dtype: object

1    c
2    b
3    a
4    d
dtype: object

In [55]:
s.sort_index(ascending=False)

4    d
3    a
2    b
1    c
dtype: object

In [56]:
"""Returns a new Series sorted by label if inplace argument is False, 
otherwise updates the original series and returns None"""

print(s.sort_index(inplace=True))
print(s)

None
1    c
2    b
3    a
4    d
dtype: object

In [57]:
s = pd.Series(['a', 'b', 'c', 'd'], index=[3, 2, 1, np.nan])
s.sort_index(na_position='first')

NaN    d
1.0    c
2.0    b
3.0    a
dtype: object

In [58]:
arrays = [np.array(['qux', 'qux', 'foo', 'foo',
                    'baz', 'baz', 'bar', 'bar']),
          np.array(['two', 'one', 'two', 'one',
                    'two', 'one', 'two', 'one'])]
#2-D array index
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=arrays)
print("Print By level 1:\n",s.sort_index(level=1))
print("\nPrint By level 2:\n",s.sort_index(level=0))

Print By level 1:
 bar  one    8
baz  one    6
foo  one    4
qux  one    2
bar  two    7
baz  two    5
foo  two    3
qux  two    1
dtype: int64

Print By level 2:
 bar  one    8
     two    7
baz  one    6
     two    5
foo  one    4
     two    3
qux  one    2
     two    1
dtype: int64

In [59]:
s.sort_index(level=1, sort_remaining=False)

qux  one    2
foo  one    4
baz  one    6
bar  one    8
qux  two    1
foo  two    3
baz  two    5
bar  two    7
dtype: int64

In [60]:
s = pd.Series([1, 2, 3, 4], index=['A', 'b', 'C', 'd'])
s.sort_index(key=lambda x : x.str.lower())

A    1
b    2
C    3
d    4
dtype: int64

# NOTE FOR ALL THE METHODS & ATTRIBUTE VISIT 
https://pandas.pydata.org/docs/reference/api/pandas.Series.html#pandas.Series
***

***
# 2. pandas.DataFrame(): 
- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a **spreadsheet** or **SQL table**, or a dict of Series objects. It is generally the most commonly used pandas object.

- **Like Series, DataFrame accepts many different kinds of input:**

    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy.ndarray
    - Structured or record ndarray
    - A Series
    - Another DataFrame
    
Along with the data, you can optionally pass index (row labels) and columns (column labels) arguments. If you pass an index and / or columns, you are guaranteeing the index and / or columns of the resulting DataFrame. Thus, a dict of Series plus a specific index will discard all data not matching up to the passed index.

If axis labels are not passed, they will be constructed from the input data based on common sense rules.

- **Syntex:** <h3>class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)</h3>
![](https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png)


### Attributes of DataFrame:
***
<table class="autosummary longtable table autosummary">
<colgroup>
<col style="width: 10%">
<col style="width: 90%">
</colgroup>
<tbody>
<tr class="row-odd"><td><p><a class="reference internal" href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html#pandas.DataFrame.at" title="pandas.DataFrame.at"><code class="xref py py-obj docutils literal notranslate"><span class="pre">at</span></code></a></p></td>
<td><p>Access a single value for a row/column label pair.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.attrs.html#pandas.DataFrame.attrs" title="pandas.DataFrame.attrs"><code class="xref py py-obj docutils literal notranslate"><span class="pre">attrs</span></code></a></p></td>
<td><p>Dictionary of global attributes of this dataset.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.axes.html#pandas.DataFrame.axes" title="pandas.DataFrame.axes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">axes</span></code></a></p></td>
<td><p>Return a list representing the axes of the DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.columns.html#pandas.DataFrame.columns" title="pandas.DataFrame.columns"><code class="xref py py-obj docutils literal notranslate"><span class="pre">columns</span></code></a></p></td>
<td><p>The column labels of the DataFrame.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.dtypes.html#pandas.DataFrame.dtypes" title="pandas.DataFrame.dtypes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">dtypes</span></code></a></p></td>
<td><p>Return the dtypes in the DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.empty.html#pandas.DataFrame.empty" title="pandas.DataFrame.empty"><code class="xref py py-obj docutils literal notranslate"><span class="pre">empty</span></code></a></p></td>
<td><p>Indicator whether Series/DataFrame is empty.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.flags.html#pandas.DataFrame.flags" title="pandas.DataFrame.flags"><code class="xref py py-obj docutils literal notranslate"><span class="pre">flags</span></code></a></p></td>
<td><p>Get the properties associated with this pandas object.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.iat.html#pandas.DataFrame.iat" title="pandas.DataFrame.iat"><code class="xref py py-obj docutils literal notranslate"><span class="pre">iat</span></code></a></p></td>
<td><p>Access a single value for a row/column pair by integer position.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.iloc.html#pandas.DataFrame.iloc" title="pandas.DataFrame.iloc"><code class="xref py py-obj docutils literal notranslate"><span class="pre">iloc</span></code></a></p></td>
<td><p>Purely integer-location based indexing for selection by position.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.index.html#pandas.DataFrame.index" title="pandas.DataFrame.index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">index</span></code></a></p></td>
<td><p>The index (row labels) of the DataFrame.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.loc.html#pandas.DataFrame.loc" title="pandas.DataFrame.loc"><code class="xref py py-obj docutils literal notranslate"><span class="pre">loc</span></code></a></p></td>
<td><p>Access a group of rows and columns by label(s) or a boolean array.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.ndim.html#pandas.DataFrame.ndim" title="pandas.DataFrame.ndim"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ndim</span></code></a></p></td>
<td><p>Return an int representing the number of axes / array dimensions.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.shape.html#pandas.DataFrame.shape" title="pandas.DataFrame.shape"><code class="xref py py-obj docutils literal notranslate"><span class="pre">shape</span></code></a></p></td>
<td><p>Return a tuple representing the dimensionality of the DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.size.html#pandas.DataFrame.size" title="pandas.DataFrame.size"><code class="xref py py-obj docutils literal notranslate"><span class="pre">size</span></code></a></p></td>
<td><p>Return an int representing the number of elements in this object.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.style.html#pandas.DataFrame.style" title="pandas.DataFrame.style"><code class="xref py py-obj docutils literal notranslate"><span class="pre">style</span></code></a></p></td>
<td><p>Returns a Styler object.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.values.html#pandas.DataFrame.values" title="pandas.DataFrame.values"><code class="xref py py-obj docutils literal notranslate"><span class="pre">values</span></code></a></p></td>
<td><p>Return a Numpy representation of the DataFrame.</p></td>
</tr>
</tbody>
</table>

### Methods of DataFrame:
***
<dd> 
<table class="autosummary longtable table autosummary">
<colgroup>
<col style="width: 10%">
<col style="width: 90%">
</colgroup>
<tbody>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.abs.html#pandas.DataFrame.abs" title="pandas.DataFrame.abs"><code class="xref py py-obj docutils literal notranslate"><span class="pre">abs</span></code></a>()</p></td>
<td><p>Return a Series/DataFrame with absolute numeric value of each element.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.add.html#pandas.DataFrame.add" title="pandas.DataFrame.add"><code class="xref py py-obj docutils literal notranslate"><span class="pre">add</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Addition of dataframe and other, element-wise (binary operator <cite>add</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.add_prefix.html#pandas.DataFrame.add_prefix" title="pandas.DataFrame.add_prefix"><code class="xref py py-obj docutils literal notranslate"><span class="pre">add_prefix</span></code></a>(prefix)</p></td>
<td><p>Prefix labels with string <cite>prefix</cite>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.add_suffix.html#pandas.DataFrame.add_suffix" title="pandas.DataFrame.add_suffix"><code class="xref py py-obj docutils literal notranslate"><span class="pre">add_suffix</span></code></a>(suffix)</p></td>
<td><p>Suffix labels with string <cite>suffix</cite>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.agg.html#pandas.DataFrame.agg" title="pandas.DataFrame.agg"><code class="xref py py-obj docutils literal notranslate"><span class="pre">agg</span></code></a>([func,&nbsp;axis])</p></td>
<td><p>Aggregate using one or more operations over the specified axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.aggregate.html#pandas.DataFrame.aggregate" title="pandas.DataFrame.aggregate"><code class="xref py py-obj docutils literal notranslate"><span class="pre">aggregate</span></code></a>([func,&nbsp;axis])</p></td>
<td><p>Aggregate using one or more operations over the specified axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.align.html#pandas.DataFrame.align" title="pandas.DataFrame.align"><code class="xref py py-obj docutils literal notranslate"><span class="pre">align</span></code></a>(other[,&nbsp;join,&nbsp;axis,&nbsp;level,&nbsp;copy,&nbsp;...])</p></td>
<td><p>Align two objects on their axes with the specified join method.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.all.html#pandas.DataFrame.all" title="pandas.DataFrame.all"><code class="xref py py-obj docutils literal notranslate"><span class="pre">all</span></code></a>([axis,&nbsp;bool_only,&nbsp;skipna,&nbsp;level])</p></td>
<td><p>Return whether all elements are True, potentially over an axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.any.html#pandas.DataFrame.any" title="pandas.DataFrame.any"><code class="xref py py-obj docutils literal notranslate"><span class="pre">any</span></code></a>([axis,&nbsp;bool_only,&nbsp;skipna,&nbsp;level])</p></td>
<td><p>Return whether any element is True, potentially over an axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.append.html#pandas.DataFrame.append" title="pandas.DataFrame.append"><code class="xref py py-obj docutils literal notranslate"><span class="pre">append</span></code></a>(other[,&nbsp;ignore_index,&nbsp;...])</p></td>
<td><p>(DEPRECATED) Append rows of <cite>other</cite> to the end of caller, returning a new object.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.apply.html#pandas.DataFrame.apply" title="pandas.DataFrame.apply"><code class="xref py py-obj docutils literal notranslate"><span class="pre">apply</span></code></a>(func[,&nbsp;axis,&nbsp;raw,&nbsp;result_type,&nbsp;args])</p></td>
<td><p>Apply a function along an axis of the DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.applymap.html#pandas.DataFrame.applymap" title="pandas.DataFrame.applymap"><code class="xref py py-obj docutils literal notranslate"><span class="pre">applymap</span></code></a>(func[,&nbsp;na_action])</p></td>
<td><p>Apply a function to a Dataframe elementwise.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.asfreq.html#pandas.DataFrame.asfreq" title="pandas.DataFrame.asfreq"><code class="xref py py-obj docutils literal notranslate"><span class="pre">asfreq</span></code></a>(freq[,&nbsp;method,&nbsp;how,&nbsp;normalize,&nbsp;...])</p></td>
<td><p>Convert time series to specified frequency.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.asof.html#pandas.DataFrame.asof" title="pandas.DataFrame.asof"><code class="xref py py-obj docutils literal notranslate"><span class="pre">asof</span></code></a>(where[,&nbsp;subset])</p></td>
<td><p>Return the last row(s) without any NaNs before <cite>where</cite>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.assign.html#pandas.DataFrame.assign" title="pandas.DataFrame.assign"><code class="xref py py-obj docutils literal notranslate"><span class="pre">assign</span></code></a>(**kwargs)</p></td>
<td><p>Assign new columns to a DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.astype.html#pandas.DataFrame.astype" title="pandas.DataFrame.astype"><code class="xref py py-obj docutils literal notranslate"><span class="pre">astype</span></code></a>(dtype[,&nbsp;copy,&nbsp;errors])</p></td>
<td><p>Cast a pandas object to a specified dtype <code class="docutils literal notranslate"><span class="pre">dtype</span></code>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.at_time.html#pandas.DataFrame.at_time" title="pandas.DataFrame.at_time"><code class="xref py py-obj docutils literal notranslate"><span class="pre">at_time</span></code></a>(time[,&nbsp;asof,&nbsp;axis])</p></td>
<td><p>Select values at particular time of day (e.g., 9:30AM).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.backfill.html#pandas.DataFrame.backfill" title="pandas.DataFrame.backfill"><code class="xref py py-obj docutils literal notranslate"><span class="pre">backfill</span></code></a>([axis,&nbsp;inplace,&nbsp;limit,&nbsp;downcast])</p></td>
<td><p>Synonym for <a class="reference internal" href="pandas.DataFrame.fillna.html#pandas.DataFrame.fillna" title="pandas.DataFrame.fillna"><code class="xref py py-meth docutils literal notranslate"><span class="pre">DataFrame.fillna()</span></code></a> with <code class="docutils literal notranslate"><span class="pre">method='bfill'</span></code>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.between_time.html#pandas.DataFrame.between_time" title="pandas.DataFrame.between_time"><code class="xref py py-obj docutils literal notranslate"><span class="pre">between_time</span></code></a>(start_time,&nbsp;end_time[,&nbsp;...])</p></td>
<td><p>Select values between particular times of the day (e.g., 9:00-9:30 AM).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.bfill.html#pandas.DataFrame.bfill" title="pandas.DataFrame.bfill"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bfill</span></code></a>([axis,&nbsp;inplace,&nbsp;limit,&nbsp;downcast])</p></td>
<td><p>Synonym for <a class="reference internal" href="pandas.DataFrame.fillna.html#pandas.DataFrame.fillna" title="pandas.DataFrame.fillna"><code class="xref py py-meth docutils literal notranslate"><span class="pre">DataFrame.fillna()</span></code></a> with <code class="docutils literal notranslate"><span class="pre">method='bfill'</span></code>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.bool.html#pandas.DataFrame.bool" title="pandas.DataFrame.bool"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bool</span></code></a>()</p></td>
<td><p>Return the bool of a single element Series or DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.boxplot.html#pandas.DataFrame.boxplot" title="pandas.DataFrame.boxplot"><code class="xref py py-obj docutils literal notranslate"><span class="pre">boxplot</span></code></a>([column,&nbsp;by,&nbsp;ax,&nbsp;fontsize,&nbsp;rot,&nbsp;...])</p></td>
<td><p>Make a box plot from DataFrame columns.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.clip.html#pandas.DataFrame.clip" title="pandas.DataFrame.clip"><code class="xref py py-obj docutils literal notranslate"><span class="pre">clip</span></code></a>([lower,&nbsp;upper,&nbsp;axis,&nbsp;inplace])</p></td>
<td><p>Trim values at input threshold(s).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.combine.html#pandas.DataFrame.combine" title="pandas.DataFrame.combine"><code class="xref py py-obj docutils literal notranslate"><span class="pre">combine</span></code></a>(other,&nbsp;func[,&nbsp;fill_value,&nbsp;overwrite])</p></td>
<td><p>Perform column-wise combine with another DataFrame.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.combine_first.html#pandas.DataFrame.combine_first" title="pandas.DataFrame.combine_first"><code class="xref py py-obj docutils literal notranslate"><span class="pre">combine_first</span></code></a>(other)</p></td>
<td><p>Update null elements with value in the same location in <cite>other</cite>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.compare.html#pandas.DataFrame.compare" title="pandas.DataFrame.compare"><code class="xref py py-obj docutils literal notranslate"><span class="pre">compare</span></code></a>(other[,&nbsp;align_axis,&nbsp;keep_shape,&nbsp;...])</p></td>
<td><p>Compare to another DataFrame and show the differences.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.convert_dtypes.html#pandas.DataFrame.convert_dtypes" title="pandas.DataFrame.convert_dtypes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">convert_dtypes</span></code></a>([infer_objects,&nbsp;...])</p></td>
<td><p>Convert columns to best possible dtypes using dtypes supporting <code class="docutils literal notranslate"><span class="pre">pd.NA</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.copy.html#pandas.DataFrame.copy" title="pandas.DataFrame.copy"><code class="xref py py-obj docutils literal notranslate"><span class="pre">copy</span></code></a>([deep])</p></td>
<td><p>Make a copy of this object's indices and data.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.corr.html#pandas.DataFrame.corr" title="pandas.DataFrame.corr"><code class="xref py py-obj docutils literal notranslate"><span class="pre">corr</span></code></a>([method,&nbsp;min_periods,&nbsp;numeric_only])</p></td>
<td><p>Compute pairwise correlation of columns, excluding NA/null values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.corrwith.html#pandas.DataFrame.corrwith" title="pandas.DataFrame.corrwith"><code class="xref py py-obj docutils literal notranslate"><span class="pre">corrwith</span></code></a>(other[,&nbsp;axis,&nbsp;drop,&nbsp;method,&nbsp;...])</p></td>
<td><p>Compute pairwise correlation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.count.html#pandas.DataFrame.count" title="pandas.DataFrame.count"><code class="xref py py-obj docutils literal notranslate"><span class="pre">count</span></code></a>([axis,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Count non-NA cells for each column or row.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.cov.html#pandas.DataFrame.cov" title="pandas.DataFrame.cov"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cov</span></code></a>([min_periods,&nbsp;ddof,&nbsp;numeric_only])</p></td>
<td><p>Compute pairwise covariance of columns, excluding NA/null values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.cummax.html#pandas.DataFrame.cummax" title="pandas.DataFrame.cummax"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cummax</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return cumulative maximum over a DataFrame or Series axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.cummin.html#pandas.DataFrame.cummin" title="pandas.DataFrame.cummin"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cummin</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return cumulative minimum over a DataFrame or Series axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.cumprod.html#pandas.DataFrame.cumprod" title="pandas.DataFrame.cumprod"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cumprod</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return cumulative product over a DataFrame or Series axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.cumsum.html#pandas.DataFrame.cumsum" title="pandas.DataFrame.cumsum"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cumsum</span></code></a>([axis,&nbsp;skipna])</p></td>
<td><p>Return cumulative sum over a DataFrame or Series axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.describe.html#pandas.DataFrame.describe" title="pandas.DataFrame.describe"><code class="xref py py-obj docutils literal notranslate"><span class="pre">describe</span></code></a>([percentiles,&nbsp;include,&nbsp;exclude,&nbsp;...])</p></td>
<td><p>Generate descriptive statistics.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.diff.html#pandas.DataFrame.diff" title="pandas.DataFrame.diff"><code class="xref py py-obj docutils literal notranslate"><span class="pre">diff</span></code></a>([periods,&nbsp;axis])</p></td>
<td><p>First discrete difference of element.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.div.html#pandas.DataFrame.div" title="pandas.DataFrame.div"><code class="xref py py-obj docutils literal notranslate"><span class="pre">div</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Floating division of dataframe and other, element-wise (binary operator <cite>truediv</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.divide.html#pandas.DataFrame.divide" title="pandas.DataFrame.divide"><code class="xref py py-obj docutils literal notranslate"><span class="pre">divide</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Floating division of dataframe and other, element-wise (binary operator <cite>truediv</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.dot.html#pandas.DataFrame.dot" title="pandas.DataFrame.dot"><code class="xref py py-obj docutils literal notranslate"><span class="pre">dot</span></code></a>(other)</p></td>
<td><p>Compute the matrix multiplication between the DataFrame and other.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.drop.html#pandas.DataFrame.drop" title="pandas.DataFrame.drop"><code class="xref py py-obj docutils literal notranslate"><span class="pre">drop</span></code></a>([labels,&nbsp;axis,&nbsp;index,&nbsp;columns,&nbsp;level,&nbsp;...])</p></td>
<td><p>Drop specified labels from rows or columns.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.drop_duplicates.html#pandas.DataFrame.drop_duplicates" title="pandas.DataFrame.drop_duplicates"><code class="xref py py-obj docutils literal notranslate"><span class="pre">drop_duplicates</span></code></a>([subset,&nbsp;keep,&nbsp;inplace,&nbsp;...])</p></td>
<td><p>Return DataFrame with duplicate rows removed.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.droplevel.html#pandas.DataFrame.droplevel" title="pandas.DataFrame.droplevel"><code class="xref py py-obj docutils literal notranslate"><span class="pre">droplevel</span></code></a>(level[,&nbsp;axis])</p></td>
<td><p>Return Series/DataFrame with requested index / column level(s) removed.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.dropna.html#pandas.DataFrame.dropna" title="pandas.DataFrame.dropna"><code class="xref py py-obj docutils literal notranslate"><span class="pre">dropna</span></code></a>([axis,&nbsp;how,&nbsp;thresh,&nbsp;subset,&nbsp;inplace])</p></td>
<td><p>Remove missing values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.duplicated.html#pandas.DataFrame.duplicated" title="pandas.DataFrame.duplicated"><code class="xref py py-obj docutils literal notranslate"><span class="pre">duplicated</span></code></a>([subset,&nbsp;keep])</p></td>
<td><p>Return boolean Series denoting duplicate rows.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.eq.html#pandas.DataFrame.eq" title="pandas.DataFrame.eq"><code class="xref py py-obj docutils literal notranslate"><span class="pre">eq</span></code></a>(other[,&nbsp;axis,&nbsp;level])</p></td>
<td><p>Get Equal to of dataframe and other, element-wise (binary operator <cite>eq</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.equals.html#pandas.DataFrame.equals" title="pandas.DataFrame.equals"><code class="xref py py-obj docutils literal notranslate"><span class="pre">equals</span></code></a>(other)</p></td>
<td><p>Test whether two objects contain the same elements.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.eval.html#pandas.DataFrame.eval" title="pandas.DataFrame.eval"><code class="xref py py-obj docutils literal notranslate"><span class="pre">eval</span></code></a>(expr[,&nbsp;inplace])</p></td>
<td><p>Evaluate a string describing operations on DataFrame columns.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.ewm.html#pandas.DataFrame.ewm" title="pandas.DataFrame.ewm"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ewm</span></code></a>([com,&nbsp;span,&nbsp;halflife,&nbsp;alpha,&nbsp;...])</p></td>
<td><p>Provide exponentially weighted (EW) calculations.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.expanding.html#pandas.DataFrame.expanding" title="pandas.DataFrame.expanding"><code class="xref py py-obj docutils literal notranslate"><span class="pre">expanding</span></code></a>([min_periods,&nbsp;center,&nbsp;axis,&nbsp;method])</p></td>
<td><p>Provide expanding window calculations.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.explode.html#pandas.DataFrame.explode" title="pandas.DataFrame.explode"><code class="xref py py-obj docutils literal notranslate"><span class="pre">explode</span></code></a>(column[,&nbsp;ignore_index])</p></td>
<td><p>Transform each element of a list-like to a row, replicating index values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.ffill.html#pandas.DataFrame.ffill" title="pandas.DataFrame.ffill"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ffill</span></code></a>([axis,&nbsp;inplace,&nbsp;limit,&nbsp;downcast])</p></td>
<td><p>Synonym for <a class="reference internal" href="pandas.DataFrame.fillna.html#pandas.DataFrame.fillna" title="pandas.DataFrame.fillna"><code class="xref py py-meth docutils literal notranslate"><span class="pre">DataFrame.fillna()</span></code></a> with <code class="docutils literal notranslate"><span class="pre">method='ffill'</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.fillna.html#pandas.DataFrame.fillna" title="pandas.DataFrame.fillna"><code class="xref py py-obj docutils literal notranslate"><span class="pre">fillna</span></code></a>([value,&nbsp;method,&nbsp;axis,&nbsp;inplace,&nbsp;...])</p></td>
<td><p>Fill NA/NaN values using the specified method.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.filter.html#pandas.DataFrame.filter" title="pandas.DataFrame.filter"><code class="xref py py-obj docutils literal notranslate"><span class="pre">filter</span></code></a>([items,&nbsp;like,&nbsp;regex,&nbsp;axis])</p></td>
<td><p>Subset the dataframe rows or columns according to the specified index labels.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.first.html#pandas.DataFrame.first" title="pandas.DataFrame.first"><code class="xref py py-obj docutils literal notranslate"><span class="pre">first</span></code></a>(offset)</p></td>
<td><p>Select initial periods of time series data based on a date offset.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.first_valid_index.html#pandas.DataFrame.first_valid_index" title="pandas.DataFrame.first_valid_index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">first_valid_index</span></code></a>()</p></td>
<td><p>Return index for first non-NA value or None, if no non-NA value is found.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.floordiv.html#pandas.DataFrame.floordiv" title="pandas.DataFrame.floordiv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">floordiv</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Integer division of dataframe and other, element-wise (binary operator <cite>floordiv</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.from_dict.html#pandas.DataFrame.from_dict" title="pandas.DataFrame.from_dict"><code class="xref py py-obj docutils literal notranslate"><span class="pre">from_dict</span></code></a>(data[,&nbsp;orient,&nbsp;dtype,&nbsp;columns])</p></td>
<td><p>Construct DataFrame from dict of array-like or dicts.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.from_records.html#pandas.DataFrame.from_records" title="pandas.DataFrame.from_records"><code class="xref py py-obj docutils literal notranslate"><span class="pre">from_records</span></code></a>(data[,&nbsp;index,&nbsp;exclude,&nbsp;...])</p></td>
<td><p>Convert structured or record ndarray to DataFrame.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.ge.html#pandas.DataFrame.ge" title="pandas.DataFrame.ge"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ge</span></code></a>(other[,&nbsp;axis,&nbsp;level])</p></td>
<td><p>Get Greater than or equal to of dataframe and other, element-wise (binary operator <cite>ge</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.get.html#pandas.DataFrame.get" title="pandas.DataFrame.get"><code class="xref py py-obj docutils literal notranslate"><span class="pre">get</span></code></a>(key[,&nbsp;default])</p></td>
<td><p>Get item from object for given key (ex: DataFrame column).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.groupby.html#pandas.DataFrame.groupby" title="pandas.DataFrame.groupby"><code class="xref py py-obj docutils literal notranslate"><span class="pre">groupby</span></code></a>([by,&nbsp;axis,&nbsp;level,&nbsp;as_index,&nbsp;sort,&nbsp;...])</p></td>
<td><p>Group DataFrame using a mapper or by a Series of columns.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.gt.html#pandas.DataFrame.gt" title="pandas.DataFrame.gt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">gt</span></code></a>(other[,&nbsp;axis,&nbsp;level])</p></td>
<td><p>Get Greater than of dataframe and other, element-wise (binary operator <cite>gt</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.head.html#pandas.DataFrame.head" title="pandas.DataFrame.head"><code class="xref py py-obj docutils literal notranslate"><span class="pre">head</span></code></a>([n])</p></td>
<td><p>Return the first <cite>n</cite> rows.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.hist.html#pandas.DataFrame.hist" title="pandas.DataFrame.hist"><code class="xref py py-obj docutils literal notranslate"><span class="pre">hist</span></code></a>([column,&nbsp;by,&nbsp;grid,&nbsp;xlabelsize,&nbsp;xrot,&nbsp;...])</p></td>
<td><p>Make a histogram of the DataFrame's columns.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.idxmax.html#pandas.DataFrame.idxmax" title="pandas.DataFrame.idxmax"><code class="xref py py-obj docutils literal notranslate"><span class="pre">idxmax</span></code></a>([axis,&nbsp;skipna,&nbsp;numeric_only])</p></td>
<td><p>Return index of first occurrence of maximum over requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.idxmin.html#pandas.DataFrame.idxmin" title="pandas.DataFrame.idxmin"><code class="xref py py-obj docutils literal notranslate"><span class="pre">idxmin</span></code></a>([axis,&nbsp;skipna,&nbsp;numeric_only])</p></td>
<td><p>Return index of first occurrence of minimum over requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.infer_objects.html#pandas.DataFrame.infer_objects" title="pandas.DataFrame.infer_objects"><code class="xref py py-obj docutils literal notranslate"><span class="pre">infer_objects</span></code></a>()</p></td>
<td><p>Attempt to infer better dtypes for object columns.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.info.html#pandas.DataFrame.info" title="pandas.DataFrame.info"><code class="xref py py-obj docutils literal notranslate"><span class="pre">info</span></code></a>([verbose,&nbsp;buf,&nbsp;max_cols,&nbsp;memory_usage,&nbsp;...])</p></td>
<td><p>Print a concise summary of a DataFrame.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.insert.html#pandas.DataFrame.insert" title="pandas.DataFrame.insert"><code class="xref py py-obj docutils literal notranslate"><span class="pre">insert</span></code></a>(loc,&nbsp;column,&nbsp;value[,&nbsp;allow_duplicates])</p></td>
<td><p>Insert column into DataFrame at specified location.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.interpolate.html#pandas.DataFrame.interpolate" title="pandas.DataFrame.interpolate"><code class="xref py py-obj docutils literal notranslate"><span class="pre">interpolate</span></code></a>([method,&nbsp;axis,&nbsp;limit,&nbsp;inplace,&nbsp;...])</p></td>
<td><p>Fill NaN values using an interpolation method.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.isetitem.html#pandas.DataFrame.isetitem" title="pandas.DataFrame.isetitem"><code class="xref py py-obj docutils literal notranslate"><span class="pre">isetitem</span></code></a>(loc,&nbsp;value)</p></td>
<td><p>Set the given value in the column with position 'loc'.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.isin.html#pandas.DataFrame.isin" title="pandas.DataFrame.isin"><code class="xref py py-obj docutils literal notranslate"><span class="pre">isin</span></code></a>(values)</p></td>
<td><p>Whether each element in the DataFrame is contained in values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.isna.html#pandas.DataFrame.isna" title="pandas.DataFrame.isna"><code class="xref py py-obj docutils literal notranslate"><span class="pre">isna</span></code></a>()</p></td>
<td><p>Detect missing values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.isnull.html#pandas.DataFrame.isnull" title="pandas.DataFrame.isnull"><code class="xref py py-obj docutils literal notranslate"><span class="pre">isnull</span></code></a>()</p></td>
<td><p>DataFrame.isnull is an alias for DataFrame.isna.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.items.html#pandas.DataFrame.items" title="pandas.DataFrame.items"><code class="xref py py-obj docutils literal notranslate"><span class="pre">items</span></code></a>()</p></td>
<td><p>Iterate over (column name, Series) pairs.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.iteritems.html#pandas.DataFrame.iteritems" title="pandas.DataFrame.iteritems"><code class="xref py py-obj docutils literal notranslate"><span class="pre">iteritems</span></code></a>()</p></td>
<td><p>(DEPRECATED) Iterate over (column name, Series) pairs.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.iterrows.html#pandas.DataFrame.iterrows" title="pandas.DataFrame.iterrows"><code class="xref py py-obj docutils literal notranslate"><span class="pre">iterrows</span></code></a>()</p></td>
<td><p>Iterate over DataFrame rows as (index, Series) pairs.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.itertuples.html#pandas.DataFrame.itertuples" title="pandas.DataFrame.itertuples"><code class="xref py py-obj docutils literal notranslate"><span class="pre">itertuples</span></code></a>([index,&nbsp;name])</p></td>
<td><p>Iterate over DataFrame rows as namedtuples.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.join.html#pandas.DataFrame.join" title="pandas.DataFrame.join"><code class="xref py py-obj docutils literal notranslate"><span class="pre">join</span></code></a>(other[,&nbsp;on,&nbsp;how,&nbsp;lsuffix,&nbsp;rsuffix,&nbsp;...])</p></td>
<td><p>Join columns of another DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.keys.html#pandas.DataFrame.keys" title="pandas.DataFrame.keys"><code class="xref py py-obj docutils literal notranslate"><span class="pre">keys</span></code></a>()</p></td>
<td><p>Get the 'info axis' (see Indexing for more).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.kurt.html#pandas.DataFrame.kurt" title="pandas.DataFrame.kurt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">kurt</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return unbiased kurtosis over requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.kurtosis.html#pandas.DataFrame.kurtosis" title="pandas.DataFrame.kurtosis"><code class="xref py py-obj docutils literal notranslate"><span class="pre">kurtosis</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return unbiased kurtosis over requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.last.html#pandas.DataFrame.last" title="pandas.DataFrame.last"><code class="xref py py-obj docutils literal notranslate"><span class="pre">last</span></code></a>(offset)</p></td>
<td><p>Select final periods of time series data based on a date offset.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.last_valid_index.html#pandas.DataFrame.last_valid_index" title="pandas.DataFrame.last_valid_index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">last_valid_index</span></code></a>()</p></td>
<td><p>Return index for last non-NA value or None, if no non-NA value is found.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.le.html#pandas.DataFrame.le" title="pandas.DataFrame.le"><code class="xref py py-obj docutils literal notranslate"><span class="pre">le</span></code></a>(other[,&nbsp;axis,&nbsp;level])</p></td>
<td><p>Get Less than or equal to of dataframe and other, element-wise (binary operator <cite>le</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.lookup.html#pandas.DataFrame.lookup" title="pandas.DataFrame.lookup"><code class="xref py py-obj docutils literal notranslate"><span class="pre">lookup</span></code></a>(row_labels,&nbsp;col_labels)</p></td>
<td><p>(DEPRECATED) Label-based "fancy indexing" function for DataFrame.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.lt.html#pandas.DataFrame.lt" title="pandas.DataFrame.lt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">lt</span></code></a>(other[,&nbsp;axis,&nbsp;level])</p></td>
<td><p>Get Less than of dataframe and other, element-wise (binary operator <cite>lt</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.mad.html#pandas.DataFrame.mad" title="pandas.DataFrame.mad"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mad</span></code></a>([axis,&nbsp;skipna,&nbsp;level])</p></td>
<td><p>(DEPRECATED) Return the mean absolute deviation of the values over the requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.mask.html#pandas.DataFrame.mask" title="pandas.DataFrame.mask"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mask</span></code></a>(cond[,&nbsp;other,&nbsp;inplace,&nbsp;axis,&nbsp;level,&nbsp;...])</p></td>
<td><p>Replace values where the condition is True.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.max.html#pandas.DataFrame.max" title="pandas.DataFrame.max"><code class="xref py py-obj docutils literal notranslate"><span class="pre">max</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return the maximum of the values over the requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.mean.html#pandas.DataFrame.mean" title="pandas.DataFrame.mean"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mean</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return the mean of the values over the requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.median.html#pandas.DataFrame.median" title="pandas.DataFrame.median"><code class="xref py py-obj docutils literal notranslate"><span class="pre">median</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return the median of the values over the requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.melt.html#pandas.DataFrame.melt" title="pandas.DataFrame.melt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">melt</span></code></a>([id_vars,&nbsp;value_vars,&nbsp;var_name,&nbsp;...])</p></td>
<td><p>Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.memory_usage.html#pandas.DataFrame.memory_usage" title="pandas.DataFrame.memory_usage"><code class="xref py py-obj docutils literal notranslate"><span class="pre">memory_usage</span></code></a>([index,&nbsp;deep])</p></td>
<td><p>Return the memory usage of each column in bytes.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.merge.html#pandas.DataFrame.merge" title="pandas.DataFrame.merge"><code class="xref py py-obj docutils literal notranslate"><span class="pre">merge</span></code></a>(right[,&nbsp;how,&nbsp;on,&nbsp;left_on,&nbsp;right_on,&nbsp;...])</p></td>
<td><p>Merge DataFrame or named Series objects with a database-style join.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.min.html#pandas.DataFrame.min" title="pandas.DataFrame.min"><code class="xref py py-obj docutils literal notranslate"><span class="pre">min</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return the minimum of the values over the requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.mod.html#pandas.DataFrame.mod" title="pandas.DataFrame.mod"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mod</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Modulo of dataframe and other, element-wise (binary operator <cite>mod</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.mode.html#pandas.DataFrame.mode" title="pandas.DataFrame.mode"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mode</span></code></a>([axis,&nbsp;numeric_only,&nbsp;dropna])</p></td>
<td><p>Get the mode(s) of each element along the selected axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.mul.html#pandas.DataFrame.mul" title="pandas.DataFrame.mul"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mul</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Multiplication of dataframe and other, element-wise (binary operator <cite>mul</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.multiply.html#pandas.DataFrame.multiply" title="pandas.DataFrame.multiply"><code class="xref py py-obj docutils literal notranslate"><span class="pre">multiply</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Multiplication of dataframe and other, element-wise (binary operator <cite>mul</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.ne.html#pandas.DataFrame.ne" title="pandas.DataFrame.ne"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ne</span></code></a>(other[,&nbsp;axis,&nbsp;level])</p></td>
<td><p>Get Not equal to of dataframe and other, element-wise (binary operator <cite>ne</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.nlargest.html#pandas.DataFrame.nlargest" title="pandas.DataFrame.nlargest"><code class="xref py py-obj docutils literal notranslate"><span class="pre">nlargest</span></code></a>(n,&nbsp;columns[,&nbsp;keep])</p></td>
<td><p>Return the first <cite>n</cite> rows ordered by <cite>columns</cite> in descending order.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.notna.html#pandas.DataFrame.notna" title="pandas.DataFrame.notna"><code class="xref py py-obj docutils literal notranslate"><span class="pre">notna</span></code></a>()</p></td>
<td><p>Detect existing (non-missing) values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.notnull.html#pandas.DataFrame.notnull" title="pandas.DataFrame.notnull"><code class="xref py py-obj docutils literal notranslate"><span class="pre">notnull</span></code></a>()</p></td>
<td><p>DataFrame.notnull is an alias for DataFrame.notna.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.nsmallest.html#pandas.DataFrame.nsmallest" title="pandas.DataFrame.nsmallest"><code class="xref py py-obj docutils literal notranslate"><span class="pre">nsmallest</span></code></a>(n,&nbsp;columns[,&nbsp;keep])</p></td>
<td><p>Return the first <cite>n</cite> rows ordered by <cite>columns</cite> in ascending order.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.nunique.html#pandas.DataFrame.nunique" title="pandas.DataFrame.nunique"><code class="xref py py-obj docutils literal notranslate"><span class="pre">nunique</span></code></a>([axis,&nbsp;dropna])</p></td>
<td><p>Count number of distinct elements in specified axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.pad.html#pandas.DataFrame.pad" title="pandas.DataFrame.pad"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pad</span></code></a>([axis,&nbsp;inplace,&nbsp;limit,&nbsp;downcast])</p></td>
<td><p>Synonym for <a class="reference internal" href="pandas.DataFrame.fillna.html#pandas.DataFrame.fillna" title="pandas.DataFrame.fillna"><code class="xref py py-meth docutils literal notranslate"><span class="pre">DataFrame.fillna()</span></code></a> with <code class="docutils literal notranslate"><span class="pre">method='ffill'</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.pct_change.html#pandas.DataFrame.pct_change" title="pandas.DataFrame.pct_change"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pct_change</span></code></a>([periods,&nbsp;fill_method,&nbsp;limit,&nbsp;freq])</p></td>
<td><p>Percentage change between the current and a prior element.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.pipe.html#pandas.DataFrame.pipe" title="pandas.DataFrame.pipe"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pipe</span></code></a>(func,&nbsp;*args,&nbsp;**kwargs)</p></td>
<td><p>Apply chainable functions that expect Series or DataFrames.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.pivot.html#pandas.DataFrame.pivot" title="pandas.DataFrame.pivot"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pivot</span></code></a>([index,&nbsp;columns,&nbsp;values])</p></td>
<td><p>Return reshaped DataFrame organized by given index / column values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.pivot_table.html#pandas.DataFrame.pivot_table" title="pandas.DataFrame.pivot_table"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pivot_table</span></code></a>([values,&nbsp;index,&nbsp;columns,&nbsp;...])</p></td>
<td><p>Create a spreadsheet-style pivot table as a DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.plot.html#pandas.DataFrame.plot" title="pandas.DataFrame.plot"><code class="xref py py-obj docutils literal notranslate"><span class="pre">plot</span></code></a></p></td>
<td><p>alias of <code class="xref py py-class docutils literal notranslate"><span class="pre">pandas.plotting._core.PlotAccessor</span></code></p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.pop.html#pandas.DataFrame.pop" title="pandas.DataFrame.pop"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pop</span></code></a>(item)</p></td>
<td><p>Return item and drop from frame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.pow.html#pandas.DataFrame.pow" title="pandas.DataFrame.pow"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pow</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Exponential power of dataframe and other, element-wise (binary operator <cite>pow</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.prod.html#pandas.DataFrame.prod" title="pandas.DataFrame.prod"><code class="xref py py-obj docutils literal notranslate"><span class="pre">prod</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only,&nbsp;...])</p></td>
<td><p>Return the product of the values over the requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.product.html#pandas.DataFrame.product" title="pandas.DataFrame.product"><code class="xref py py-obj docutils literal notranslate"><span class="pre">product</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only,&nbsp;...])</p></td>
<td><p>Return the product of the values over the requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.quantile.html#pandas.DataFrame.quantile" title="pandas.DataFrame.quantile"><code class="xref py py-obj docutils literal notranslate"><span class="pre">quantile</span></code></a>([q,&nbsp;axis,&nbsp;numeric_only,&nbsp;...])</p></td>
<td><p>Return values at the given quantile over requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.query.html#pandas.DataFrame.query" title="pandas.DataFrame.query"><code class="xref py py-obj docutils literal notranslate"><span class="pre">query</span></code></a>(expr[,&nbsp;inplace])</p></td>
<td><p>Query the columns of a DataFrame with a boolean expression.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.radd.html#pandas.DataFrame.radd" title="pandas.DataFrame.radd"><code class="xref py py-obj docutils literal notranslate"><span class="pre">radd</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Addition of dataframe and other, element-wise (binary operator <cite>radd</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.rank.html#pandas.DataFrame.rank" title="pandas.DataFrame.rank"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rank</span></code></a>([axis,&nbsp;method,&nbsp;numeric_only,&nbsp;...])</p></td>
<td><p>Compute numerical data ranks (1 through n) along axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.rdiv.html#pandas.DataFrame.rdiv" title="pandas.DataFrame.rdiv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rdiv</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Floating division of dataframe and other, element-wise (binary operator <cite>rtruediv</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.reindex.html#pandas.DataFrame.reindex" title="pandas.DataFrame.reindex"><code class="xref py py-obj docutils literal notranslate"><span class="pre">reindex</span></code></a>([labels,&nbsp;index,&nbsp;columns,&nbsp;axis,&nbsp;...])</p></td>
<td><p>Conform Series/DataFrame to new index with optional filling logic.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.reindex_like.html#pandas.DataFrame.reindex_like" title="pandas.DataFrame.reindex_like"><code class="xref py py-obj docutils literal notranslate"><span class="pre">reindex_like</span></code></a>(other[,&nbsp;method,&nbsp;copy,&nbsp;limit,&nbsp;...])</p></td>
<td><p>Return an object with matching indices as other object.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.rename.html#pandas.DataFrame.rename" title="pandas.DataFrame.rename"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rename</span></code></a>([mapper,&nbsp;index,&nbsp;columns,&nbsp;axis,&nbsp;copy,&nbsp;...])</p></td>
<td><p>Alter axes labels.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.rename_axis.html#pandas.DataFrame.rename_axis" title="pandas.DataFrame.rename_axis"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rename_axis</span></code></a>([mapper,&nbsp;index,&nbsp;columns,&nbsp;axis,&nbsp;copy])</p></td>
<td><p>Set the name of the axis for the index or columns.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.reorder_levels.html#pandas.DataFrame.reorder_levels" title="pandas.DataFrame.reorder_levels"><code class="xref py py-obj docutils literal notranslate"><span class="pre">reorder_levels</span></code></a>(order[,&nbsp;axis])</p></td>
<td><p>Rearrange index levels using input order.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.replace.html#pandas.DataFrame.replace" title="pandas.DataFrame.replace"><code class="xref py py-obj docutils literal notranslate"><span class="pre">replace</span></code></a>([to_replace,&nbsp;value,&nbsp;inplace,&nbsp;limit,&nbsp;...])</p></td>
<td><p>Replace values given in <cite>to_replace</cite> with <cite>value</cite>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.resample.html#pandas.DataFrame.resample" title="pandas.DataFrame.resample"><code class="xref py py-obj docutils literal notranslate"><span class="pre">resample</span></code></a>(rule[,&nbsp;axis,&nbsp;closed,&nbsp;label,&nbsp;...])</p></td>
<td><p>Resample time-series data.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.reset_index.html#pandas.DataFrame.reset_index" title="pandas.DataFrame.reset_index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">reset_index</span></code></a>([level,&nbsp;drop,&nbsp;inplace,&nbsp;...])</p></td>
<td><p>Reset the index, or a level of it.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.rfloordiv.html#pandas.DataFrame.rfloordiv" title="pandas.DataFrame.rfloordiv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rfloordiv</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Integer division of dataframe and other, element-wise (binary operator <cite>rfloordiv</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.rmod.html#pandas.DataFrame.rmod" title="pandas.DataFrame.rmod"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rmod</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Modulo of dataframe and other, element-wise (binary operator <cite>rmod</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.rmul.html#pandas.DataFrame.rmul" title="pandas.DataFrame.rmul"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rmul</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Multiplication of dataframe and other, element-wise (binary operator <cite>rmul</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.rolling.html#pandas.DataFrame.rolling" title="pandas.DataFrame.rolling"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling</span></code></a>(window[,&nbsp;min_periods,&nbsp;center,&nbsp;...])</p></td>
<td><p>Provide rolling window calculations.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.round.html#pandas.DataFrame.round" title="pandas.DataFrame.round"><code class="xref py py-obj docutils literal notranslate"><span class="pre">round</span></code></a>([decimals])</p></td>
<td><p>Round a DataFrame to a variable number of decimal places.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.rpow.html#pandas.DataFrame.rpow" title="pandas.DataFrame.rpow"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rpow</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Exponential power of dataframe and other, element-wise (binary operator <cite>rpow</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.rsub.html#pandas.DataFrame.rsub" title="pandas.DataFrame.rsub"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rsub</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Subtraction of dataframe and other, element-wise (binary operator <cite>rsub</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.rtruediv.html#pandas.DataFrame.rtruediv" title="pandas.DataFrame.rtruediv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rtruediv</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Floating division of dataframe and other, element-wise (binary operator <cite>rtruediv</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.sample.html#pandas.DataFrame.sample" title="pandas.DataFrame.sample"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sample</span></code></a>([n,&nbsp;frac,&nbsp;replace,&nbsp;weights,&nbsp;...])</p></td>
<td><p>Return a random sample of items from an axis of object.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.select_dtypes.html#pandas.DataFrame.select_dtypes" title="pandas.DataFrame.select_dtypes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">select_dtypes</span></code></a>([include,&nbsp;exclude])</p></td>
<td><p>Return a subset of the DataFrame's columns based on the column dtypes.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.sem.html#pandas.DataFrame.sem" title="pandas.DataFrame.sem"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sem</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;ddof,&nbsp;numeric_only])</p></td>
<td><p>Return unbiased standard error of the mean over requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.set_axis.html#pandas.DataFrame.set_axis" title="pandas.DataFrame.set_axis"><code class="xref py py-obj docutils literal notranslate"><span class="pre">set_axis</span></code></a>(labels[,&nbsp;axis,&nbsp;inplace,&nbsp;copy])</p></td>
<td><p>Assign desired index to given axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.set_flags.html#pandas.DataFrame.set_flags" title="pandas.DataFrame.set_flags"><code class="xref py py-obj docutils literal notranslate"><span class="pre">set_flags</span></code></a>(*[,&nbsp;copy,&nbsp;allows_duplicate_labels])</p></td>
<td><p>Return a new object with updated flags.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.set_index.html#pandas.DataFrame.set_index" title="pandas.DataFrame.set_index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">set_index</span></code></a>(keys[,&nbsp;drop,&nbsp;append,&nbsp;inplace,&nbsp;...])</p></td>
<td><p>Set the DataFrame index using existing columns.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.shift.html#pandas.DataFrame.shift" title="pandas.DataFrame.shift"><code class="xref py py-obj docutils literal notranslate"><span class="pre">shift</span></code></a>([periods,&nbsp;freq,&nbsp;axis,&nbsp;fill_value])</p></td>
<td><p>Shift index by desired number of periods with an optional time <cite>freq</cite>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.skew.html#pandas.DataFrame.skew" title="pandas.DataFrame.skew"><code class="xref py py-obj docutils literal notranslate"><span class="pre">skew</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only])</p></td>
<td><p>Return unbiased skew over requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.slice_shift.html#pandas.DataFrame.slice_shift" title="pandas.DataFrame.slice_shift"><code class="xref py py-obj docutils literal notranslate"><span class="pre">slice_shift</span></code></a>([periods,&nbsp;axis])</p></td>
<td><p>(DEPRECATED) Equivalent to <cite>shift</cite> without copying data.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.sort_index.html#pandas.DataFrame.sort_index" title="pandas.DataFrame.sort_index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sort_index</span></code></a>([axis,&nbsp;level,&nbsp;ascending,&nbsp;...])</p></td>
<td><p>Sort object by labels (along an axis).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.sort_values.html#pandas.DataFrame.sort_values" title="pandas.DataFrame.sort_values"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sort_values</span></code></a>(by[,&nbsp;axis,&nbsp;ascending,&nbsp;inplace,&nbsp;...])</p></td>
<td><p>Sort by the values along either axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.sparse.html#pandas.DataFrame.sparse" title="pandas.DataFrame.sparse"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sparse</span></code></a></p></td>
<td><p>alias of <code class="xref py py-class docutils literal notranslate"><span class="pre">pandas.core.arrays.sparse.accessor.SparseFrameAccessor</span></code></p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.squeeze.html#pandas.DataFrame.squeeze" title="pandas.DataFrame.squeeze"><code class="xref py py-obj docutils literal notranslate"><span class="pre">squeeze</span></code></a>([axis])</p></td>
<td><p>Squeeze 1 dimensional axis objects into scalars.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.stack.html#pandas.DataFrame.stack" title="pandas.DataFrame.stack"><code class="xref py py-obj docutils literal notranslate"><span class="pre">stack</span></code></a>([level,&nbsp;dropna])</p></td>
<td><p>Stack the prescribed level(s) from columns to index.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.std.html#pandas.DataFrame.std" title="pandas.DataFrame.std"><code class="xref py py-obj docutils literal notranslate"><span class="pre">std</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;ddof,&nbsp;numeric_only])</p></td>
<td><p>Return sample standard deviation over requested axis.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.sub.html#pandas.DataFrame.sub" title="pandas.DataFrame.sub"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sub</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Subtraction of dataframe and other, element-wise (binary operator <cite>sub</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.subtract.html#pandas.DataFrame.subtract" title="pandas.DataFrame.subtract"><code class="xref py py-obj docutils literal notranslate"><span class="pre">subtract</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Subtraction of dataframe and other, element-wise (binary operator <cite>sub</cite>).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.sum.html#pandas.DataFrame.sum" title="pandas.DataFrame.sum"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sum</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;numeric_only,&nbsp;...])</p></td>
<td><p>Return the sum of the values over the requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.swapaxes.html#pandas.DataFrame.swapaxes" title="pandas.DataFrame.swapaxes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">swapaxes</span></code></a>(axis1,&nbsp;axis2[,&nbsp;copy])</p></td>
<td><p>Interchange axes and swap values axes appropriately.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.swaplevel.html#pandas.DataFrame.swaplevel" title="pandas.DataFrame.swaplevel"><code class="xref py py-obj docutils literal notranslate"><span class="pre">swaplevel</span></code></a>([i,&nbsp;j,&nbsp;axis])</p></td>
<td><p>Swap levels i and j in a <a class="reference internal" href="pandas.MultiIndex.html#pandas.MultiIndex" title="pandas.MultiIndex"><code class="xref py py-class docutils literal notranslate"><span class="pre">MultiIndex</span></code></a>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.tail.html#pandas.DataFrame.tail" title="pandas.DataFrame.tail"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tail</span></code></a>([n])</p></td>
<td><p>Return the last <cite>n</cite> rows.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.take.html#pandas.DataFrame.take" title="pandas.DataFrame.take"><code class="xref py py-obj docutils literal notranslate"><span class="pre">take</span></code></a>(indices[,&nbsp;axis,&nbsp;is_copy])</p></td>
<td><p>Return the elements in the given <em>positional</em> indices along an axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_clipboard.html#pandas.DataFrame.to_clipboard" title="pandas.DataFrame.to_clipboard"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_clipboard</span></code></a>([excel,&nbsp;sep])</p></td>
<td><p>Copy object to the system clipboard.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.to_csv.html#pandas.DataFrame.to_csv" title="pandas.DataFrame.to_csv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_csv</span></code></a>([path_or_buf,&nbsp;sep,&nbsp;na_rep,&nbsp;...])</p></td>
<td><p>Write object to a comma-separated values (csv) file.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_dict.html#pandas.DataFrame.to_dict" title="pandas.DataFrame.to_dict"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_dict</span></code></a>([orient,&nbsp;into])</p></td>
<td><p>Convert the DataFrame to a dictionary.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.to_excel.html#pandas.DataFrame.to_excel" title="pandas.DataFrame.to_excel"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_excel</span></code></a>(excel_writer[,&nbsp;sheet_name,&nbsp;na_rep,&nbsp;...])</p></td>
<td><p>Write object to an Excel sheet.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_feather.html#pandas.DataFrame.to_feather" title="pandas.DataFrame.to_feather"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_feather</span></code></a>(path,&nbsp;**kwargs)</p></td>
<td><p>Write a DataFrame to the binary Feather format.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.to_gbq.html#pandas.DataFrame.to_gbq" title="pandas.DataFrame.to_gbq"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_gbq</span></code></a>(destination_table[,&nbsp;project_id,&nbsp;...])</p></td>
<td><p>Write a DataFrame to a Google BigQuery table.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_hdf.html#pandas.DataFrame.to_hdf" title="pandas.DataFrame.to_hdf"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_hdf</span></code></a>(path_or_buf,&nbsp;key[,&nbsp;mode,&nbsp;complevel,&nbsp;...])</p></td>
<td><p>Write the contained data to an HDF5 file using HDFStore.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.to_html.html#pandas.DataFrame.to_html" title="pandas.DataFrame.to_html"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_html</span></code></a>([buf,&nbsp;columns,&nbsp;col_space,&nbsp;header,&nbsp;...])</p></td>
<td><p>Render a DataFrame as an HTML table.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_json.html#pandas.DataFrame.to_json" title="pandas.DataFrame.to_json"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_json</span></code></a>([path_or_buf,&nbsp;orient,&nbsp;date_format,&nbsp;...])</p></td>
<td><p>Convert the object to a JSON string.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.to_latex.html#pandas.DataFrame.to_latex" title="pandas.DataFrame.to_latex"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_latex</span></code></a>([buf,&nbsp;columns,&nbsp;col_space,&nbsp;header,&nbsp;...])</p></td>
<td><p>Render object to a LaTeX tabular, longtable, or nested table.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_markdown.html#pandas.DataFrame.to_markdown" title="pandas.DataFrame.to_markdown"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_markdown</span></code></a>([buf,&nbsp;mode,&nbsp;index,&nbsp;storage_options])</p></td>
<td><p>Print DataFrame in Markdown-friendly format.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.to_numpy.html#pandas.DataFrame.to_numpy" title="pandas.DataFrame.to_numpy"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_numpy</span></code></a>([dtype,&nbsp;copy,&nbsp;na_value])</p></td>
<td><p>Convert the DataFrame to a NumPy array.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_orc.html#pandas.DataFrame.to_orc" title="pandas.DataFrame.to_orc"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_orc</span></code></a>([path,&nbsp;engine,&nbsp;index,&nbsp;engine_kwargs])</p></td>
<td><p>Write a DataFrame to the ORC format.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.to_parquet.html#pandas.DataFrame.to_parquet" title="pandas.DataFrame.to_parquet"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_parquet</span></code></a>([path,&nbsp;engine,&nbsp;compression,&nbsp;...])</p></td>
<td><p>Write a DataFrame to the binary parquet format.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_period.html#pandas.DataFrame.to_period" title="pandas.DataFrame.to_period"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_period</span></code></a>([freq,&nbsp;axis,&nbsp;copy])</p></td>
<td><p>Convert DataFrame from DatetimeIndex to PeriodIndex.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.to_pickle.html#pandas.DataFrame.to_pickle" title="pandas.DataFrame.to_pickle"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_pickle</span></code></a>(path[,&nbsp;compression,&nbsp;protocol,&nbsp;...])</p></td>
<td><p>Pickle (serialize) object to file.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_records.html#pandas.DataFrame.to_records" title="pandas.DataFrame.to_records"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_records</span></code></a>([index,&nbsp;column_dtypes,&nbsp;index_dtypes])</p></td>
<td><p>Convert DataFrame to a NumPy record array.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.to_sql.html#pandas.DataFrame.to_sql" title="pandas.DataFrame.to_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_sql</span></code></a>(name,&nbsp;con[,&nbsp;schema,&nbsp;if_exists,&nbsp;...])</p></td>
<td><p>Write records stored in a DataFrame to a SQL database.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_stata.html#pandas.DataFrame.to_stata" title="pandas.DataFrame.to_stata"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_stata</span></code></a>(path[,&nbsp;convert_dates,&nbsp;write_index,&nbsp;...])</p></td>
<td><p>Export DataFrame object to Stata dta format.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.to_string.html#pandas.DataFrame.to_string" title="pandas.DataFrame.to_string"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_string</span></code></a>([buf,&nbsp;columns,&nbsp;col_space,&nbsp;header,&nbsp;...])</p></td>
<td><p>Render a DataFrame to a console-friendly tabular output.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_timestamp.html#pandas.DataFrame.to_timestamp" title="pandas.DataFrame.to_timestamp"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_timestamp</span></code></a>([freq,&nbsp;how,&nbsp;axis,&nbsp;copy])</p></td>
<td><p>Cast to DatetimeIndex of timestamps, at <em>beginning</em> of period.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.to_xarray.html#pandas.DataFrame.to_xarray" title="pandas.DataFrame.to_xarray"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_xarray</span></code></a>()</p></td>
<td><p>Return an xarray object from the pandas object.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.to_xml.html#pandas.DataFrame.to_xml" title="pandas.DataFrame.to_xml"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_xml</span></code></a>([path_or_buffer,&nbsp;index,&nbsp;root_name,&nbsp;...])</p></td>
<td><p>Render a DataFrame to an XML document.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.transform.html#pandas.DataFrame.transform" title="pandas.DataFrame.transform"><code class="xref py py-obj docutils literal notranslate"><span class="pre">transform</span></code></a>(func[,&nbsp;axis])</p></td>
<td><p>Call <code class="docutils literal notranslate"><span class="pre">func</span></code> on self producing a DataFrame with the same axis shape as self.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.transpose.html#pandas.DataFrame.transpose" title="pandas.DataFrame.transpose"><code class="xref py py-obj docutils literal notranslate"><span class="pre">transpose</span></code></a>(*args[,&nbsp;copy])</p></td>
<td><p>Transpose index and columns.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.truediv.html#pandas.DataFrame.truediv" title="pandas.DataFrame.truediv"><code class="xref py py-obj docutils literal notranslate"><span class="pre">truediv</span></code></a>(other[,&nbsp;axis,&nbsp;level,&nbsp;fill_value])</p></td>
<td><p>Get Floating division of dataframe and other, element-wise (binary operator <cite>truediv</cite>).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.truncate.html#pandas.DataFrame.truncate" title="pandas.DataFrame.truncate"><code class="xref py py-obj docutils literal notranslate"><span class="pre">truncate</span></code></a>([before,&nbsp;after,&nbsp;axis,&nbsp;copy])</p></td>
<td><p>Truncate a Series or DataFrame before and after some index value.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.tshift.html#pandas.DataFrame.tshift" title="pandas.DataFrame.tshift"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tshift</span></code></a>([periods,&nbsp;freq,&nbsp;axis])</p></td>
<td><p>(DEPRECATED) Shift the time index, using the index's frequency if available.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.tz_convert.html#pandas.DataFrame.tz_convert" title="pandas.DataFrame.tz_convert"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tz_convert</span></code></a>(tz[,&nbsp;axis,&nbsp;level,&nbsp;copy])</p></td>
<td><p>Convert tz-aware axis to target time zone.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.tz_localize.html#pandas.DataFrame.tz_localize" title="pandas.DataFrame.tz_localize"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tz_localize</span></code></a>(tz[,&nbsp;axis,&nbsp;level,&nbsp;copy,&nbsp;...])</p></td>
<td><p>Localize tz-naive index of a Series or DataFrame to target time zone.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.unstack.html#pandas.DataFrame.unstack" title="pandas.DataFrame.unstack"><code class="xref py py-obj docutils literal notranslate"><span class="pre">unstack</span></code></a>([level,&nbsp;fill_value])</p></td>
<td><p>Pivot a level of the (necessarily hierarchical) index labels.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.update.html#pandas.DataFrame.update" title="pandas.DataFrame.update"><code class="xref py py-obj docutils literal notranslate"><span class="pre">update</span></code></a>(other[,&nbsp;join,&nbsp;overwrite,&nbsp;...])</p></td>
<td><p>Modify in place using non-NA values from another DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.value_counts.html#pandas.DataFrame.value_counts" title="pandas.DataFrame.value_counts"><code class="xref py py-obj docutils literal notranslate"><span class="pre">value_counts</span></code></a>([subset,&nbsp;normalize,&nbsp;sort,&nbsp;...])</p></td>
<td><p>Return a Series containing counts of unique rows in the DataFrame.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.var.html#pandas.DataFrame.var" title="pandas.DataFrame.var"><code class="xref py py-obj docutils literal notranslate"><span class="pre">var</span></code></a>([axis,&nbsp;skipna,&nbsp;level,&nbsp;ddof,&nbsp;numeric_only])</p></td>
<td><p>Return unbiased variance over requested axis.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="pandas.DataFrame.where.html#pandas.DataFrame.where" title="pandas.DataFrame.where"><code class="xref py py-obj docutils literal notranslate"><span class="pre">where</span></code></a>(cond[,&nbsp;other,&nbsp;inplace,&nbsp;axis,&nbsp;level,&nbsp;...])</p></td>
<td><p>Replace values where the condition is False.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="pandas.DataFrame.xs.html#pandas.DataFrame.xs" title="pandas.DataFrame.xs"><code class="xref py py-obj docutils literal notranslate"><span class="pre">xs</span></code></a>(key[,&nbsp;axis,&nbsp;level,&nbsp;drop_level])</p></td>
<td><p>Return cross-section from the Series/DataFrame.</p></td>
</tr>
</tbody>
</table>
    </dd>

##### Creating a Pandas DataFrame

In [61]:
# Creating Empty DataFrame:
empty_df=pd.DataFrame()
print(empty_df) #No data

Empty DataFrame
Columns: []
Index: []

In [62]:
# Creating by giving list:
lst=["Bhawan","Singh","Solanki","Learning","Pandas","DataFrame"]
df=pd.DataFrame(lst)
print("We can Print by Using print():")
print(df)

We can Print by Using print():
           0
0     Bhawan
1      Singh
2    Solanki
3   Learning
4     Pandas
5  DataFrame

In [63]:
print("We can direct like below:")
df

We can direct like below:

           0
0     Bhawan
1      Singh
2    Solanki
3   Learning
4     Pandas
5  DataFrame

In [64]:
#list with multiple columnn
lst=[[1,2,3],[4,5,6],[7,8,9]]
df1=pd.DataFrame(lst)
print("DataFrame with Multiple column:")
df1

DataFrame with Multiple column:

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [65]:
#list with multiple columnn
lst=[[1,2,3],[4,5,6],[7,8,9],[1,2,3,4]]
df1=pd.DataFrame(lst)
print("DataFrame with Multiple column:")
df1

DataFrame with Multiple column:

   0  1  2    3
0  1  2  3  NaN
1  4  5  6  NaN
2  7  8  9  NaN
3  1  2  3  4.0

In [66]:
#Creating DataFrame from dict of ndarray/lists:
dic={'Test': ['India', 'South Africa', 'England',
                            'New Zealand', 'Australia'],
              'Odi': ['England', 'India', 'New Zealand',
                            'South Africa', 'Pakistan'],
               'T-20': ['Pakistan', 'India', 'Australia', 
                              'England', 'New Zealand']}
print("DataFrame with Dictionalry:")
df2=pd.DataFrame(dic)
df2

DataFrame with Dictionalry:

           Test           Odi         T-20
0         India       England     Pakistan
1  South Africa         India        India
2       England   New Zealand    Australia
3   New Zealand  South Africa      England
4     Australia      Pakistan  New Zealand

In [67]:
# Incrementing the index so that index starts at 1 (starts at 0 by default) 
df2.index += 1
df2

           Test           Odi         T-20
1         India       England     Pakistan
2  South Africa         India        India
3       England   New Zealand    Australia
4   New Zealand  South Africa      England
5     Australia      Pakistan  New Zealand

In [68]:
# Lists of top 5 batsmen for each format
test_batsmen = ['Virat Kohli', 'Steve Smith', 'Kane Williamson',
                                     'Joe Root', 'David Warner']
odi_batsmen = ['Virat Kohli', 'Rohit Sharma', 'Joe Root',
                            'David Warner', 'Babar Azam']
t20_batsmen = ['Babar Azam', 'Aaron Finch', 'Colin Munro',
                           'Lokesh Rahul', 'Fakhar Zaman']

# Define a dictionary containing ICC rankings for batsmen
dic={'Test':test_batsmen,
    'ODI':odi_batsmen,
    'T20':t20_batsmen}

# Convert the dictionary into DataFrame
df2=pd.DataFrame(dic)
df2.index+=1
df2

              Test           ODI           T20
1      Virat Kohli   Virat Kohli    Babar Azam
2      Steve Smith  Rohit Sharma   Aaron Finch
3  Kane Williamson      Joe Root   Colin Munro
4         Joe Root  David Warner  Lokesh Rahul
5     David Warner    Babar Azam  Fakhar Zaman

``` python
dic={"ID":[1,2,3,4,5],"Name":["Bhawan","Deena","Bhavi"]}
df2=pd.DataFrame(dic)

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
/tmp/ipykernel_17/3048458879.py in <module>
      1 dic={"ID":[1,2,3,4,5],"Name":["Bhawan","Deena","Bhavi"]}
----> 2 df2=pd.DataFrame(dic)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py in __init__(self, data, index, columns, dtype, copy)
    612         elif isinstance(data, dict):
    613             # GH#38939 de facto copy defaults to False only in non-dict cases
--> 614             mgr = dict_to_mgr(data, index, columns, dtype=dtype, copy=copy, typ=manager)
    615         elif isinstance(data, ma.MaskedArray):
    616             import numpy.ma.mrecords as mrecords

/opt/conda/lib/python3.7/site-packages/pandas/core/internals/construction.py in dict_to_mgr(data, index, columns, dtype, typ, copy)
    463 
    464     return arrays_to_mgr(
--> 465         arrays, data_names, index, columns, dtype=dtype, typ=typ, consolidate=copy
    466     )
    467 

/opt/conda/lib/python3.7/site-packages/pandas/core/internals/construction.py in arrays_to_mgr(arrays, arr_names, index, columns, dtype, verify_integrity, typ, consolidate)
    117         # figure out the index, if necessary
    118         if index is None:
--> 119             index = _extract_index(arrays)
    120         else:
    121             index = ensure_index(index)

/opt/conda/lib/python3.7/site-packages/pandas/core/internals/construction.py in _extract_index(data)
    633             lengths = list(set(raw_lengths))
    634             if len(lengths) > 1:
--> 635                 raise ValueError("All arrays must be of the same length")
    636 
    637             if have_dicts:

ValueError: All arrays must be of the same length
```

In [69]:
dic={"ID":[1,2,3,4,5],"Name":["Bhawan","Deena","Bhavi","Gaurav","Birag"]}
df2=pd.DataFrame(dic)
df2

   ID    Name
0   1  Bhawan
1   2   Deena
2   3   Bhavi
3   4  Gaurav
4   5   Birag

In [70]:
# Creating with help of list of Dictionary:
ls_dict = [{'a':1, 'b':2}, {'a':3, 'b':4,'c':"Bhawan"}]
df2=pd.DataFrame(ls_dict)
df2

   a  b       c
0  1  2     NaN
1  3  4  Bhawan

In [71]:
lst=[{"List1":[1,2,3,4],"DATA":["Bhawan","Bhavi"]},{"List2":["list second","Second"],"data":"this is Data of list 2"}]
df2=pd.DataFrame(lst)
df2

,List1,DATA,List2,data
0,"[1, 2, 3, 4]","[Bhawan, Bhavi]",NaN,NaN
1,NaN,NaN,"[list second, Second]",this is Data of list 2

### Accessing Element from DataFrame :

In [72]:
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
df=pd.DataFrame(data)
df

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [73]:
data = pd.read_csv("/kaggle/input/nba-data/nba.csv",index_col="Name")  
first = data.loc["Shelvin Mack"]
first

Team        Utah Jazz
Number            8.0
Position           PG
Age              26.0
Height            6-3
Weight          203.0
College        Butler
Salary      2433333.0
Name: Shelvin Mack, dtype: object

In [74]:
df=pd.DataFrame(data)
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [75]:
df["Age"]

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64

# Indexing and selecting data In DataFrame:
- The axis labeling information in pandas objects serves many purposes:

    - Identifies data (i.e. provides metadata) using known indicators, important for analysis, visualization, and interactive console display.
    - Enables automatic and explicit data alignment.
    - Allows intuitive getting and setting of subsets of the data set.

## Indexing and selecting data In DataFrame: | Basics:
- As mentioned when introducing the data structures in the last section, the primary function of indexing with **[]** (a.k.a. __ **getitem** __ for those familiar with implementing class behavior in Python) is selecting out lower-dimensional slices. The following table shows return type values when indexing pandas objects with **[]:**

<table class="colwidths-given table">
<colgroup>
<col style="width: 25%">
<col style="width: 25%">
<col style="width: 50%">
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Object Type</p></th>
<th class="head"><p>Selection</p></th>
<th class="head"><p>Return Value Type</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>Series</p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">series[label]</span></code></p></td>
<td><p>scalar value</p></td>
</tr>
<tr class="row-odd"><td><p>DataFrame</p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">frame[colname]</span></code></p></td>
<td><p><code class="docutils literal notranslate"><span class="pre">Series</span></code> corresponding to colname</p></td>
</tr>
</tbody>
</table>

In [76]:
dates = pd.date_range('1/1/2000', periods=8) #Creating Index As Date
print(dates,"\n")

df = pd.DataFrame(np.random.randn(8, 4),index=dates, columns=['A', 'B', 'C', 'D']) #Creating  DataFrame
df

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2000-01-01 -1.366566 -1.486817  0.376649  1.000296
2000-01-02  0.324335  0.756011  0.143238  0.129565
2000-01-03  0.742780 -1.673545  2.514546 -0.280378
2000-01-04  1.120756  0.345513 -0.484127 -0.063935
2000-01-05  1.376837 -1.656936 -1.321427  0.461674
2000-01-06  0.347482  0.273647 -0.667375 -1.115575
2000-01-07  0.074003  1.102945  0.792670 -1.166127
2000-01-08  0.058414 -1.550657 -0.354937  0.527594

In [77]:
print("Value of Dates:\n\n",dates)
print("\nType of dates: ",type(dates))

Value of Dates:

 DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

Type of dates:  <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [78]:
#Indexing data by Series Index(0,1,2,3,4,5,.........like that)

s=df["A"]  #Assigning DataFrame Value(A Series) to s.
print("Value at DataFrame['A'] Series Index 4:",s[4])
print("Data Type of Value:",type(s[4]))

Value at DataFrame['A'] Series Index 4: 1.3768365980070694
Data Type of Value: <class 'numpy.float64'>

In [79]:
print("Value at dates[4] index:",s[dates[4]]) #We are direct giving Index
print("Data Type of Value:",type(s[dates[5]]))

Value at dates[4] index: 1.3768365980070694
Data Type of Value: <class 'numpy.float64'>

In [80]:
print("Before Changing: \n",df[['A','B']])
df[['B', 'A']] = df[['A', 'B']]   #Changing Column value 
print("\nAfter Changing:\n",df[['A','B']])

Before Changing:
                    A         B
2000-01-01 -1.366566 -1.486817
2000-01-02  0.324335  0.756011
2000-01-03  0.742780 -1.673545
2000-01-04  1.120756  0.345513
2000-01-05  1.376837 -1.656936
2000-01-06  0.347482  0.273647
2000-01-07  0.074003  1.102945
2000-01-08  0.058414 -1.550657

After Changing:
                    A         B
2000-01-01 -1.486817 -1.366566
2000-01-02  0.756011  0.324335
2000-01-03 -1.673545  0.742780
2000-01-04  0.345513  1.120756
2000-01-05 -1.656936  1.376837
2000-01-06  0.273647  0.347482
2000-01-07  1.102945  0.074003
2000-01-08 -1.550657  0.058414

> <h2>Warning</h2>

> - **pandas aligns all AXES when setting Series and DataFrame from .loc, and .iloc.**
> - **This will not modify df because the column alignment is before value assignment.**

In [81]:
print("Before Changing: \n",df[['A','B']])
df.loc[:, ['B', 'A']] = df[['A', 'B']]         #Not Changing Value 
print("\nAfter Changing:\n",df[['A','B']])

Before Changing:
                    A         B
2000-01-01 -1.486817 -1.366566
2000-01-02  0.756011  0.324335
2000-01-03 -1.673545  0.742780
2000-01-04  0.345513  1.120756
2000-01-05 -1.656936  1.376837
2000-01-06  0.273647  0.347482
2000-01-07  1.102945  0.074003
2000-01-08 -1.550657  0.058414

After Changing:
                    A         B
2000-01-01 -1.486817 -1.366566
2000-01-02  0.756011  0.324335
2000-01-03 -1.673545  0.742780
2000-01-04  0.345513  1.120756
2000-01-05 -1.656936  1.376837
2000-01-06  0.273647  0.347482
2000-01-07  1.102945  0.074003
2000-01-08 -1.550657  0.058414

In [82]:
df.loc[:, ['B', 'A']] = df[['A', 'B']].to_numpy()
print("\nAfter Changing:\n",df[['A','B']])

After Changing:
                    A         B
2000-01-01 -1.366566 -1.486817
2000-01-02  0.324335  0.756011
2000-01-03  0.742780 -1.673545
2000-01-04  1.120756  0.345513
2000-01-05  1.376837 -1.656936
2000-01-06  0.347482  0.273647
2000-01-07  0.074003  1.102945
2000-01-08  0.058414 -1.550657

## Indexing and selecting data In DataFrame: | Attribute access:

In [83]:
sa = pd.Series([1, 2, 3], index=list('abc'))  # Creating SA Series 
sa

a    1
b    2
c    3
dtype: int64

In [84]:
print("DataFrame dfa:\n")
dfa = df.copy() #Making Copy of df in dfa
dfa

DataFrame dfa:

                   A         B         C         D
2000-01-01 -1.366566 -1.486817  0.376649  1.000296
2000-01-02  0.324335  0.756011  0.143238  0.129565
2000-01-03  0.742780 -1.673545  2.514546 -0.280378
2000-01-04  1.120756  0.345513 -0.484127 -0.063935
2000-01-05  1.376837 -1.656936 -1.321427  0.461674
2000-01-06  0.347482  0.273647 -0.667375 -1.115575
2000-01-07  0.074003  1.102945  0.792670 -1.166127
2000-01-08  0.058414 -1.550657 -0.354937  0.527594

In [85]:
dfa.A   #accesing as a attribute

2000-01-01   -1.366566
2000-01-02    0.324335
2000-01-03    0.742780
2000-01-04    1.120756
2000-01-05    1.376837
2000-01-06    0.347482
2000-01-07    0.074003
2000-01-08    0.058414
Freq: D, Name: A, dtype: float64

In [86]:
dfa.index # index of dfa DataFrame

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [87]:
# Changing Value of by attribute Access
dfa.A=list(range(len(dfa.index)))           ## ok if A already exists else refer below warning
dfa

            A         B         C         D
2000-01-01  0 -1.486817  0.376649  1.000296
2000-01-02  1  0.756011  0.143238  0.129565
2000-01-03  2 -1.673545  2.514546 -0.280378
2000-01-04  3  0.345513 -0.484127 -0.063935
2000-01-05  4 -1.656936 -1.321427  0.461674
2000-01-06  5  0.273647 -0.667375 -1.115575
2000-01-07  6  1.102945  0.792670 -1.166127
2000-01-08  7 -1.550657 -0.354937  0.527594

``` python
dfa.E=list(range(len(dfa.index)))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

```

In [88]:
dfa["E"]=list(range(len(dfa.index)))  #Assinging Value to E Columns
dfa

            A         B         C         D  E
2000-01-01  0 -1.486817  0.376649  1.000296  0
2000-01-02  1  0.756011  0.143238  0.129565  1
2000-01-03  2 -1.673545  2.514546 -0.280378  2
2000-01-04  3  0.345513 -0.484127 -0.063935  3
2000-01-05  4 -1.656936 -1.321427  0.461674  4
2000-01-06  5  0.273647 -0.667375 -1.115575  5
2000-01-07  6  1.102945  0.792670 -1.166127  6
2000-01-08  7 -1.550657 -0.354937  0.527594  7

>  ## Warning

> - You can use this access only if the index element is a valid Python identifier, e.g. s.1 is not allowed. See here for an explanation of valid identifiers.
> - The attribute will not be available if it conflicts with an existing method name, e.g. s.min is not allowed, but s['min'] is possible.
> - Similarly, the attribute will not be available if it conflicts with any of the following list: index, major_axis, minor_axis, items.
> - In any of these cases, standard indexing will still work, e.g. s['1'], s['min'], and s['index'] will access the corresponding element or column.

In [89]:
# You can also assign a dict to a row of a DataFrame:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
print("Before Assignment:\n")
x

Before Assignment:

   x  y
0  1  3
1  2  4
2  3  5

In [90]:
x.iloc[1] = {'x': 9, 'y': 99}
print("\nAfter Assignment:\n")
x

After Assignment:

   x   y
0  1   3
1  9  99
2  3   5

## Indexing and selecting data In DataFrame | Slicing ranges in DataFrame:
- The most robust and consistent way of slicing ranges along arbitrary axes is described in the Selection by Position section detailing the **.iloc** method. For now, we explain the semantics of slicing using the **[]** operator.

- With Series, the syntax works exactly as with an ndarray, returning a slice of the values and the corresponding labels:

In [91]:
s[:5]    #Slicing in Sereis s=df["A"]  / print value from 0 to 5(Exclude)

2000-01-01   -1.366566
2000-01-02    0.324335
2000-01-03    0.742780
2000-01-04    1.120756
2000-01-05    1.376837
Freq: D, Name: A, dtype: float64

In [92]:
s[::2]    #2 works as Steping Value (after 2 point print value)

2000-01-01   -1.366566
2000-01-03    0.742780
2000-01-05    1.376837
2000-01-07    0.074003
Freq: 2D, Name: A, dtype: float64

In [93]:
s[::-1]     #it Reverse the. Series

2000-01-08    0.058414
2000-01-07    0.074003
2000-01-06    0.347482
2000-01-05    1.376837
2000-01-04    1.120756
2000-01-03    0.742780
2000-01-02    0.324335
2000-01-01   -1.366566
Freq: -1D, Name: A, dtype: float64

In [94]:
s2 = s.copy()   #Copying value of s 
s2[:5]=0       #Assigning Value from 0 to 5
s2

2000-01-01    0.000000
2000-01-02    0.000000
2000-01-03    0.000000
2000-01-04    0.000000
2000-01-05    0.000000
2000-01-06    0.347482
2000-01-07    0.074003
2000-01-08    0.058414
Freq: D, Name: A, dtype: float64

 #### With DataFrame, slicing inside of [] slices the rows. This is provided largely as a convenience since it is such a common operation.

In [95]:
dfa

            A         B         C         D  E
2000-01-01  0 -1.486817  0.376649  1.000296  0
2000-01-02  1  0.756011  0.143238  0.129565  1
2000-01-03  2 -1.673545  2.514546 -0.280378  2
2000-01-04  3  0.345513 -0.484127 -0.063935  3
2000-01-05  4 -1.656936 -1.321427  0.461674  4
2000-01-06  5  0.273647 -0.667375 -1.115575  5
2000-01-07  6  1.102945  0.792670 -1.166127  6
2000-01-08  7 -1.550657 -0.354937  0.527594  7

In [96]:
dfa[3:]   #From 3 To end of DataFrame

            A         B         C         D  E
2000-01-04  3  0.345513 -0.484127 -0.063935  3
2000-01-05  4 -1.656936 -1.321427  0.461674  4
2000-01-06  5  0.273647 -0.667375 -1.115575  5
2000-01-07  6  1.102945  0.792670 -1.166127  6
2000-01-08  7 -1.550657 -0.354937  0.527594  7

In [97]:
dfa[:3]    #Start to 3

            A         B         C         D  E
2000-01-01  0 -1.486817  0.376649  1.000296  0
2000-01-02  1  0.756011  0.143238  0.129565  1
2000-01-03  2 -1.673545  2.514546 -0.280378  2

In [98]:
dfa[::2]     #steping value of 2

            A         B         C         D  E
2000-01-01  0 -1.486817  0.376649  1.000296  0
2000-01-03  2 -1.673545  2.514546 -0.280378  2
2000-01-05  4 -1.656936 -1.321427  0.461674  4
2000-01-07  6  1.102945  0.792670 -1.166127  6

In [99]:
dfa[::-1]   #reverse of DataFrame

            A         B         C         D  E
2000-01-08  7 -1.550657 -0.354937  0.527594  7
2000-01-07  6  1.102945  0.792670 -1.166127  6
2000-01-06  5  0.273647 -0.667375 -1.115575  5
2000-01-05  4 -1.656936 -1.321427  0.461674  4
2000-01-04  3  0.345513 -0.484127 -0.063935  3
2000-01-03  2 -1.673545  2.514546 -0.280378  2
2000-01-02  1  0.756011  0.143238  0.129565  1
2000-01-01  0 -1.486817  0.376649  1.000296  0

In [100]:
dfC=dfa.copy()           #Making Copying of DataFrame dfa
dfC[:5]=0            #it will assign all value to 0 from (0,5)
dfC

            A         B         C         D  E
2000-01-01  0  0.000000  0.000000  0.000000  0
2000-01-02  0  0.000000  0.000000  0.000000  0
2000-01-03  0  0.000000  0.000000  0.000000  0
2000-01-04  0  0.000000  0.000000  0.000000  0
2000-01-05  0  0.000000  0.000000  0.000000  0
2000-01-06  5  0.273647 -0.667375 -1.115575  5
2000-01-07  6  1.102945  0.792670 -1.166127  6
2000-01-08  7 -1.550657 -0.354937  0.527594  7

## Indexing and selecting data In DataFrame | Selection by label
> ## Warning
> - Whether a copy or a reference is returned for a setting operation, may depend on the context. This is sometimes called chained assignment and should be avoided. 

> - See Returning a View versus Copy.
https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-view-versus-copy

> ## Warning
> - .loc is strict when you present slicers that are not compatible (or convertible) with the index type. For example using integers in a DatetimeIndex. These will raise a TypeError.

In [101]:
                     #giving 2-D array
    
dfl = pd.DataFrame(np.random.randn(5, 4),       
                   columns=list('ABCD'),
                   index=pd.date_range('20130101', periods=5))
dfl

                   A         B         C         D
2013-01-01 -1.851204  0.140869 -1.899081  0.465035
2013-01-02  1.278574  1.145146  1.481253  0.330378
2013-01-03  0.916178 -0.011259 -1.427838 -0.051313
2013-01-04 -0.010557  0.893354 -0.435415 -0.526084
2013-01-05 -0.584155 -0.301481  1.047148  0.365651

``` python
dfl.loc[2:3]

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
/tmp/ipykernel_17/564008759.py in <module>
----> 1 dfl.loc[2:3]

"all other error removed"

TypeError: cannot do slice indexing on DatetimeIndex with these indexers [2] of type int

```

In [102]:
dfl.loc['20130102':'20130104']      #right indexing for DateTime indeixng data

                   A         B         C         D
2013-01-02  1.278574  1.145146  1.481253  0.330378
2013-01-03  0.916178 -0.011259 -1.427838 -0.051313
2013-01-04 -0.010557  0.893354 -0.435415 -0.526084

- pandas provides a suite of methods in order to have **purely label based indexing.** This is a strict inclusion based protocol. Every label asked for must be in the index, or a **KeyError** will be raised. When slicing, both the start bound **AND** the stop bound are included, if present in the index. Integers are valid labels, but they refer to the label **and not the position.**

- The .loc attribute is the primary access method. The following are valid inputs:

    - A single label, e.g. 5 or 'a' (Note that 5 is interpreted as a label of the index. This use is not an integer position along the index.).
    - A list or array of labels ['a', 'b', 'c'].
    - A slice object with labels 'a':'f' (Note that contrary to usual Python slices, **both** the start and the stop are included, when present in the index! See Slicing with labels.
    - A boolean array.
    - A **callable**, see Selection By Callable.

In [103]:
s1 = pd.Series(np.random.randn(6), index=list('abcdef')) #creating Series s1
s1              #printing s1

a   -0.786503
b    1.497313
c    0.576915
d    0.019602
e    0.848288
f   -0.295244
dtype: float64

In [104]:
s1[3:]        #By indexing

d    0.019602
e    0.848288
f   -0.295244
dtype: float64

In [105]:
s1["c":]      #by indexing label

c    0.576915
d    0.019602
e    0.848288
f   -0.295244
dtype: float64

In [106]:
s1.loc['c':]      #asscessing by label

c    0.576915
d    0.019602
e    0.848288
f   -0.295244
dtype: float64

In [107]:
s1.loc['c':] = 0    #Assinging value to Series
s1

a   -0.786503
b    1.497313
c    0.000000
d    0.000000
e    0.000000
f    0.000000
dtype: float64

**With DataFrame**

In [108]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))
df1

          A         B         C         D
a  0.254972  0.991546 -0.819333  0.942125
b  1.456457  1.140200  0.224361 -1.358862
c -1.100017  0.347299  2.941919 -0.344148
d  0.642007 -0.459259 -0.164240  0.719303
e  0.253105 -0.474339 -0.772965  0.746752
f  0.272458 -0.078619  0.098659 -0.441533

In [109]:
df1[3:]

          A         B         C         D
d  0.642007 -0.459259 -0.164240  0.719303
e  0.253105 -0.474339 -0.772965  0.746752
f  0.272458 -0.078619  0.098659 -0.441533

In [110]:
df1["c":]

          A         B         C         D
c -1.100017  0.347299  2.941919 -0.344148
d  0.642007 -0.459259 -0.164240  0.719303
e  0.253105 -0.474339 -0.772965  0.746752
f  0.272458 -0.078619  0.098659 -0.441533

In [111]:
df1.loc["a"] #value of column a only #For getting a cross section using a label (equivalent to df.xs('a')):

A    0.254972
B    0.991546
C   -0.819333
D    0.942125
Name: a, dtype: float64

In [112]:
df1.xs('a')  #Both are same df1.loc["a"]

A    0.254972
B    0.991546
C   -0.819333
D    0.942125
Name: a, dtype: float64

In [113]:
df1.loc[["a","c","d"]]

          A         B         C         D
a  0.254972  0.991546 -0.819333  0.942125
c -1.100017  0.347299  2.941919 -0.344148
d  0.642007 -0.459259 -0.164240  0.719303

In [114]:
df1.loc[["a","c","d"],:]     #Before "," rows and after "," Colummns

          A         B         C         D
a  0.254972  0.991546 -0.819333  0.942125
c -1.100017  0.347299  2.941919 -0.344148
d  0.642007 -0.459259 -0.164240  0.719303

In [115]:
df1.loc[["a","c","d"],"A":"B"]

          A         B
a  0.254972  0.991546
c -1.100017  0.347299
d  0.642007 -0.459259

In [116]:
df1.loc['d':,"C":"D"]

          C         D
d -0.164240  0.719303
e -0.772965  0.746752
f  0.098659 -0.441533

In [117]:
df1.loc['a'] > 0

A     True
B     True
C    False
D     True
Name: a, dtype: bool

### Selection by label | Slicing with labels :
- When using .loc with slices, if both the start and the stop labels are present in the index, then elements located between the two (including them) are returned:

In [118]:
s = pd.Series(list('abcde'), index=[0, 3, 2, 5, 4]) #Value of s by not sorted index
s

0    a
3    b
2    c
5    d
4    e
dtype: object

In [119]:
s.loc[3:5]   # returned value fall between this 3 to 5 index

3    b
2    c
5    d
dtype: object

If at least one of the two is absent, but the index is sorted, and can be compared against start and stop labels, then slicing will still work as expected, by selecting labels which rank between the two:

In [120]:
s.sort_index()  #sorting value here by index

0    a
2    c
3    b
4    e
5    d
dtype: object

In [121]:
s.sort_index().loc[3:5]  #after sorting the values

3    b
4    e
5    d
dtype: object

>However, if at least one of the two is absent and the index is not sorted, an error will be raised (since doing otherwise would be computationally expensive, as well as potentially ambiguous for mixed type indexes). For instance, in the above example, s.loc[1:6] would raise KeyError.

For the rationale behind this behavior, see Endpoints are inclusive.

``` python
s = pd.Series(list('abcdef'), index=[0, 3, 2, 5, 4, 2])
s.loc[2:5]

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/tmp/ipykernel_18/1395166310.py in <module>
      1 s = pd.Series(list('abcdef'), index=[0, 3, 2, 5, 4, 2])
----> 2 s.loc[2:5]

--- removed part of error----
KeyError: 'Cannot get left slice bound for non-unique label: 2'

In [122]:
s.loc[3:5]

3    b
2    c
5    d
dtype: object

## Indexing and selecting data In DataFrame | Selection by position:

> ## Warning 
Whether a copy or a reference is returned for a setting operation, may depend on the context. This is sometimes called chained assignment and should be avoided. See Returning a View versus Copy.

pandas provides a suite of methods in order to get **purely integer based indexing.** The semantics follow closely Python and NumPy slicing. These are **0-based** indexing. When slicing, the start bound is included, while the upper bound is excluded. Trying to use a non-integer, even a valid label will raise an **IndexError.**

The **.iloc** attribute is the primary access method. The following are valid inputs:

- An integer e.g. 5.
- A list or array of integers [4, 3, 0].
- A slice object with ints 1:7.
- A boolean array.
- A callable, see Selection By Callable.

In [123]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list(range(0, 12, 2)),
                   columns=list(range(0, 8, 2)))
df1

           0         2         4         6
0   1.212621 -1.393903 -0.544305  1.114010
2  -1.261059  0.259321  0.306368 -0.763967
4   0.925193 -1.133808 -0.002732  1.660397
6  -0.805294 -1.052892 -0.449687 -0.386769
8   0.772338 -1.412312  1.215055  1.126859
10  1.217573  0.469723 -1.150627 -0.412301

In [124]:
df1.iloc[:3]  # position rows 0,1,2,

          0         2         4         6
0  1.212621 -1.393903 -0.544305  1.114010
2 -1.261059  0.259321  0.306368 -0.763967
4  0.925193 -1.133808 -0.002732  1.660397

In [125]:
df1.iloc[1:3]

          0         2         4         6
2 -1.261059  0.259321  0.306368 -0.763967
4  0.925193 -1.133808 -0.002732  1.660397

In [126]:
df1.iloc[1:6,0:2]  #position for columns 0:2

           0         2
2  -1.261059  0.259321
4   0.925193 -1.133808
6  -0.805294 -1.052892
8   0.772338 -1.412312
10  1.217573  0.469723

In [127]:
df1.iloc[[1, 3, 5], [1, 3]]  #rows(1,3,5) and columns(1,3)

           2         6
2   0.259321 -0.763967
6  -1.052892 -0.386769
10  0.469723 -0.412301

In [128]:
df1.iloc[1:3, :]

          0         2         4         6
2 -1.261059  0.259321  0.306368 -0.763967
4  0.925193 -1.133808 -0.002732  1.660397

In [129]:
# this is also equivalent to ``df1.iat[1,1]``
df1.iloc[1, 1]

0.2593213666045359

In [130]:
df1.iloc[1]  #rows at 1 value

0   -1.261059
2    0.259321
4    0.306368
6   -0.763967
Name: 2, dtype: float64

> ##  Note:
> #### Out of range slice indexes are handled gracefully just as in Python/NumPy.

In [131]:
x = list('abcdef')
x[4:10]

['e', 'f']

In [132]:
s = pd.Series(x)
s

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [133]:
s.iloc[4:10]   #Out bound will be handled easily

4    e
5    f
dtype: object

In [134]:
s.iloc[8:10] #there is no value in that position that's why empty

Series([], dtype: object)

> ##  Note:
> #### Note that using slices that go out of bounds can result in an empty axis (e.g. an empty DataFrame being returned).

In [135]:
dfl = pd.DataFrame(np.random.randn(5, 2), columns=list('AB'))
dfl

          A         B
0 -0.724726  0.028137
1  1.649178  0.564521
2  0.603403  1.178174
3  0.434894  0.150537
4 -1.282479  0.933638

In [136]:
print(dfl.iloc[:, 2:3]) #no columns at position 2,3
dfl.iloc[:, 2:3]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [137]:
dfl.iloc[:, 1:3] #column present at position 1 but not position 3

          B
0  0.028137
1  0.564521
2  1.178174
3  0.150537
4  0.933638

In [138]:
dfl.iloc[4:6]

          A         B
4 -1.282479  0.933638

> ##  Note:
> ####  A single indexer that is out of bounds will raise an IndexError. A list of indexers where any element is out of bounds will raise an IndexError.

``` python
dfl.iloc[[4, 5, 6]]

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)

----extra error removed----
IndexError: positional indexers are out-of-bounds
```

``` python 
dfl.iloc[:, 4]

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
/tmp/ipykernel_18/1683638990.py in <module>
----> 1 dfl.iloc[:, 4]

----extra error removed----
IndexError: single positional indexer is out-of-bounds
```

## Indexing and selecting data In DataFrame | Selection by callable:
- .loc, .iloc, and also [] indexing can accept a **callable** as indexer. The **callable** must be a function with one argument (the calling Series or DataFrame) that returns valid output for indexing.

In [139]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))
df1

          A         B         C         D
a -0.982151 -0.191299  2.095673  0.588726
b  0.755281 -1.133549  0.266843  1.397699
c -0.042602  0.366752 -0.781471 -0.085227
d  0.516781 -1.004286  0.052826 -0.476314
e -0.656725 -0.681671  1.731851  0.204355
f -0.155641  1.208962 -0.201963  1.227528

In [140]:
df1.loc[lambda df: df['A'] > 0, :]

          A         B         C         D
b  0.755281 -1.133549  0.266843  1.397699
d  0.516781 -1.004286  0.052826 -0.476314

In [141]:
df1.loc[:, lambda df: ['A', 'B']]   #using loc

          A         B
a -0.982151 -0.191299
b  0.755281 -1.133549
c -0.042602  0.366752
d  0.516781 -1.004286
e -0.656725 -0.681671
f -0.155641  1.208962

In [142]:
df1.iloc[:, lambda df: [0, 1]]    #using iloc

          A         B
a -0.982151 -0.191299
b  0.755281 -1.133549
c -0.042602  0.366752
d  0.516781 -1.004286
e -0.656725 -0.681671
f -0.155641  1.208962

In [143]:
df1[lambda df: df.columns[0]]

a   -0.982151
b    0.755281
c   -0.042602
d    0.516781
e   -0.656725
f   -0.155641
Name: A, dtype: float64

In [144]:
#You can use callable indexing in Series.

df1['A'].loc[lambda s: s > 0]

b    0.755281
d    0.516781
Name: A, dtype: float64

## Indexing and selecting data In DataFrame | Combining positional and label-based indexing
If you wish to get the 0th and the 2nd elements from the index in the A column, you can do:

In [145]:
dfd = pd.DataFrame({'A': [1, 2, 3],
   ....:                     'B': [4, 5, 6]},
   ....:                    index=list('abc'))
dfd

   A  B
a  1  4
b  2  5
c  3  6

In [146]:
#Getting value of column "A" at row or Position 0,2:
#dfd.loc[["a","c"],'A']

dfd.loc[dfd.index[[0,2]],'A']

a    1
c    3
Name: A, dtype: int64

> ##  Note:
> This can also be expressed using **.iloc**, by explicitly getting locations on the indexers, and using positional indexing to select things.

In [147]:
dfd.iloc[[0, 2], dfd.columns.get_loc('A')]

a    1
c    3
Name: A, dtype: int64

In [148]:
dfd.iloc[[0, 2], dfd.columns.get_indexer(['A', 'B'])]

   A  B
a  1  4
c  3  6

## Indexing and selecting data In DataFrame | Indexing with list with missing labels is deprecated:
- In prior versions, using .loc[list-of-labels] would work as long as at least 1 of the keys was found (otherwise it would raise a KeyError). This behavior was changed and will now raise a KeyError if at least one label is missing. The recommended alternative is to use .reindex().

For example.

In [149]:
s = pd.Series([1, 2, 3])
s

0    1
1    2
2    3
dtype: int64

In [150]:
s.loc[[1, 2]]

1    2
2    3
dtype: int64

``` python 
# Previous Behavior:

s.loc[[1, 2, 3]]
Out[4]:
1    2.0
2    3.0
3    NaN
dtype: float64

#Current Behavior:

s.loc[[1, 2, 3]]
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/tmp/ipykernel_17/3597896592.py in <module>
----> 1 s.loc[[1, 2, 3]]
----Other Error removed----

KeyError: '[3] not in index'
    
```

### Indexing with list with missing labels is deprecated: | Reindexing
- The idiomatic way to achieve selecting potentially not-found elements is via .reindex(). See also the section on reindexing.

In [151]:
s.reindex([1, 2, 3])

1    2.0
2    3.0
3    NaN
dtype: float64

> #### Alternatively, if you want to select only valid keys, the following is idiomatic and efficient; it is guaranteed to preserve the dtype of the selection.

In [152]:
labels = [1, 2, 3]
s.loc[s.index.intersection(labels)]

1    2
2    3
dtype: int64

> #### Having a duplicated index will raise for a .reindex():

In [153]:
s = pd.Series(np.arange(4), index=['a', 'a', 'b', 'c'])
labels = ['c', 'd']

``` python
s.reindex(labels)

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
/tmp/ipykernel_17/3168030933.py in <module>
----> 1 s.reindex(labels)


----extra error----
ValueError: cannot reindex from a duplicate axis
  
```

In [154]:
s.loc[s.index.intersection(labels)].reindex(labels)

c    3.0
d    NaN
dtype: float64

> #### However, this would still raise if your resulting index is duplicated.

``` python

labels = ['a', 'd']
s.loc[s.index.intersection(labels)].reindex(labels)


---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
/tmp/ipykernel_17/2354864613.py in <module>
      1 labels = ['a', 'd']
----> 2 s.loc[s.index.intersection(labels)].reindex(labels)

----extra error rempved----
ValueError: cannot reindex from a duplicate axis
    
```

## Selecting random samples:
A random selection of rows or columns from a Series or DataFrame with the sample() method. The method will sample rows by default, and accepts a specific number of rows/columns to return, or a fraction of rows.

In [155]:
s = pd.Series([0, 1, 2, 3, 4, 5])
s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [156]:
s.sample() ## When no arguments are passed, returns 1 row.

0    0
dtype: int64

In [157]:
s.sample(n=3) ## One may specify either a number of rows:

5    5
4    4
3    3
dtype: int64

In [158]:
# Or a fraction of the rows:
s.sample(frac=0.5)

2    2
5    5
3    3
dtype: int64

## Indexing and selecting data In DataFrame | Setting with enlargement:
- The .loc / [] operations can perform enlargement when setting a non-existent key for that axis.

- In the Series case this is effectively an appending operation.

In [159]:
se = pd.Series([1, 2, 3])
se

0    1
1    2
2    3
dtype: int64

In [160]:
se[5] = 5.    #Setting a new index 5 with value 5.0
se

0    1.0
1    2.0
2    3.0
5    5.0
dtype: float64

In [161]:
dfi = pd.DataFrame(np.arange(6).reshape(3, 2),
   .....:                    columns=['A', 'B'])
dfi

   A  B
0  0  1
1  2  3
2  4  5

In [162]:
dfi.loc[:, 'C'] = dfi.loc[:, 'A']    #Column "A" value will Setting with to new column 'C'
dfi

   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4

In [163]:
dfi.loc[3] = 5  # Setting a new row index "3" with value 5
dfi

   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4
3  5  5  5

## Fast scalar value getting and setting | Indexing and selecting data In DataFrame:
- Since indexing with [] must handle a lot of cases (single-label access, slicing, boolean indexing, etc.), it has a bit of overhead in order to figure out what youre asking for. If you only want to access a scalar value, the fastest way is to use the at and iat methods, which are implemented on all of the data structures.

- Similarly to loc, at provides label based scalar lookups, while, iat provides integer based lookups analogously to iloc

In [164]:
print(s)
s.iat[5]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

5

In [165]:
print(df)

df.at[dates[5], 'A']

                   A         B         C         D
2000-01-01 -1.366566 -1.486817  0.376649  1.000296
2000-01-02  0.324335  0.756011  0.143238  0.129565
2000-01-03  0.742780 -1.673545  2.514546 -0.280378
2000-01-04  1.120756  0.345513 -0.484127 -0.063935
2000-01-05  1.376837 -1.656936 -1.321427  0.461674
2000-01-06  0.347482  0.273647 -0.667375 -1.115575
2000-01-07  0.074003  1.102945  0.792670 -1.166127
2000-01-08  0.058414 -1.550657 -0.354937  0.527594

0.3474815265020648

In [166]:
df.iat[3, 0]

1.1207559826722084

>You can also set using these same indexers.

In [167]:
df.at[dates[5], 'E'] = 7
df.iat[3, 0] = 7
df

                   A         B         C         D    E
2000-01-01 -1.366566 -1.486817  0.376649  1.000296  NaN
2000-01-02  0.324335  0.756011  0.143238  0.129565  NaN
2000-01-03  0.742780 -1.673545  2.514546 -0.280378  NaN
2000-01-04  7.000000  0.345513 -0.484127 -0.063935  NaN
2000-01-05  1.376837 -1.656936 -1.321427  0.461674  NaN
2000-01-06  0.347482  0.273647 -0.667375 -1.115575  7.0
2000-01-07  0.074003  1.102945  0.792670 -1.166127  NaN
2000-01-08  0.058414 -1.550657 -0.354937  0.527594  NaN

## Boolean indexing:
Another common operation is the use of boolean vectors to filter the data. The operators are: | for or, & for and, and ~ for not. These must be grouped by using parentheses, since by default Python will evaluate an expression such as df['A'] > 2 & df['B'] < 3 as df['A'] > (2 & df['B']) < 3, while the desired evaluation order is (df['A'] > 2) & (df['B'] < 3).

In [168]:
s = pd.Series(range(-3, 4))
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [169]:
s[s > 0]

4    1
5    2
6    3
dtype: int64

In [170]:
s[(s < -1) | (s > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [171]:
s[~(s < 0)]     # ~ (Not)

3    0
4    1
5    2
6    3
dtype: int64

## Indexing and selecting data | Indexing with isin:
- Consider the isin() method of Series, which returns a boolean vector that is true wherever the Series elements exist in the passed list. This allows you to select rows where one or more columns have values you want:

In [172]:
s = pd.Series(np.arange(5), index=np.arange(5)[::-1], dtype='int64')
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [173]:
s.isin([2, 4, 6])

4    False
3    False
2     True
1    False
0     True
dtype: bool

In [174]:
s[s.isin([2, 4, 6])]

2    2
0    4
dtype: int64

>The same method is available for Index objects and is useful for the cases when you dont know which of the sought labels are in fact present:

In [175]:
s[s.index.isin([2, 4, 6])]

4    0
2    2
dtype: int64

In [176]:
# compare it to the following
s.reindex([2, 4, 6])

2    2.0
4    0.0
6    NaN
dtype: float64

> In addition to that, MultiIndex allows selecting a separate level to use in the membership check:

In [177]:
s_mi = pd.Series(np.arange(6),
   .....:                  index=pd.MultiIndex.from_product([[0, 1], ['a', 'b', 'c']]))
   .....: 
        
s_mi

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int64

In [178]:
s_mi.iloc[s_mi.index.isin([(1, 'a'), (2, 'b'), (0, 'c')])]

0  c    2
1  a    3
dtype: int64

In [179]:
s_mi.iloc[s_mi.index.isin(['a', 'c', 'e'], level=1)]

0  a    0
   c    2
1  a    3
   c    5
dtype: int64

> #### DataFrame also has an isin() method. When calling isin, pass a set of values as either an array or dict. If values is an array, isin returns a DataFrame of booleans that is the same shape as the original DataFrame, with True wherever the element is in the sequence of values.

In [180]:
df = pd.DataFrame({'vals': [1, 2, 3, 4], 'ids': ['a', 'b', 'f', 'n'],
   .....:                    'ids2': ['a', 'n', 'c', 'n']})
   .....: 
df

   vals ids ids2
0     1   a    a
1     2   b    n
2     3   f    c
3     4   n    n

In [181]:
values = ['a', 'b', 1, 3]
df.isin(values)

    vals    ids   ids2
0   True   True   True
1  False   True  False
2   True  False  False
3  False  False  False

Oftentimes youll want to match certain values with certain columns. Just make values a dict where the key is the column, and the value is a list of items you want to check for.

In [182]:
values = {'ids': ['a', 'b'], 'vals': [1, 3]}
df.isin(values)

    vals    ids   ids2
0   True   True  False
1  False   True  False
2   True  False  False
3  False  False  False

To return the DataFrame of booleans where the values are not in the original DataFrame, use the ~ operator:

In [183]:
values = {'ids': ['a', 'b'], 'vals': [1, 3]}
~df.isin(values)

    vals    ids  ids2
0  False  False  True
1   True  False  True
2  False   True  True
3   True   True  True

Combine DataFrames isin with the any() and all() methods to quickly select subsets of your data that meet a given criteria. To select a row where each column meets its own criterion:

In [184]:
values = {'ids': ['a', 'b'], 'ids2': ['a', 'c'], 'vals': [1, 3]}
row_mask = df.isin(values).all(1)
df[row_mask]

   vals ids ids2
0     1   a    a

## Indexing and selecting data | The where() Method and Masking:
> **Selecting values from a Series with a boolean vector generally returns a subset of the data. To guarantee that selection output has the same shape as the original data, you can use the where method in Series and DataFrame.**


To return only the selected rows:

In [185]:
s[s > 0]

3    1
2    2
1    3
0    4
dtype: int64

In [186]:
s.where(s > 0)

4    NaN
3    1.0
2    2.0
1    3.0
0    4.0
dtype: float64